@import "compass/reset";
@import "compass/utilities";

@import "griffin";

@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

/* ___-_ font-face _-________________ */

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.0') format('embedded-opentype'), 
       url('../font/fontawesome-webfont.woff?v=3.2.0') format('woff'), 
       url('../font/fontawesome-webfont.ttf?v=3.2.0') format('truetype'), 
       url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ft-awesome { font-family: 'FontAwesome'; }

/* ___-_ main elements _-________________ */
h1{ padding-bottom: 24px; font-size: 1.4em; line-height: 0.6em; }
h2{ padding-bottom: 1em; font-size: 1.1em; line-height: 0.9em; }
h3{ padding-bottom: 20px; font-size: 1.25em; line-height: 1.2em; }
h4{ padding-bottom: 10px; font-size: 1.25em; line-height: 1.2em; }
h5{ padding-bottom: 10px; font-size: 1.5em; line-height: 1.1em; }
h6{ padding-bottom:  8px; font-size: 1.1em; line-height: 1.1em; }

p { font-size: 1.3em; line-height: 1.45em; margin-bottom: 1.4em; }
strong { font-weight: 600; }

table { font-family: Lato, sans-serif; }

/* ___-_ workers _-________________ */
.inline { display: inline; }

/* Media elements, image + text */
.wk-media-l { float:left; }
  .wk-media-l img,
  .wk-media-r img { display:block; }
.wk-media-r { display:table-cell; zoom:1; }

/* Columns */
.wk-col-l { display:inline; float:left; }
.wk-col-r { display:inline; float:right; }
.wk-col-50 { width: 48%; margin: 0 1%; }
.wk-col-33 { width: 33%; }
.wk-cent { text-align: center; }
.wk-right { text-align: right; }

.wk-clr-l { clear: left; }
.wk-clr-r { clear: right; }
.wk-clr-b { clear: both; }

.wk-valign { display: table; vertical-align: middle; height: 100%; width: 100%; }
  .wk-valign-cont { display: table-cell; vertical-align: middle; text-align: center; }

/* Class for hidding elements if JavaScript is enabled */
html.js body .hidden { display:none; }

  /* ELEMENTOS GENERALES */
body { background: white; padding: 0; }
a, a:hover { cursor: pointer!important; }
a.btn { text-decoration: none; }

.wk-col-l { float: left }
.wk-col-r { float: right }

input[type="text"] { display: inline- block; appearance: none; box-shadow: none; border: 0!important; font-family: 'Old Standard TT', serif; font-size: 1.3em; font-weight: 800;
  border-radius: 0; padding: 0.3em; background: rgba(250, 222, 50, 0.95); border-radius: 0; margin: 0 0 0.4em 0; color: black; height: 22px!important; }
input[type="text"]:focus { outline: none; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: black; }
select { width: 220px; background: rgba(250, 222, 50, 0.95); color: black; margin: 0 0 0.4em 0; border: 0!important; font-family: 'Old Standard TT', serif; font-size: 1.3em;
    line-height: 1.2em; font-size: 18px; padding: 0.3em; border-radius: 0; position: relative; }
::-webkit-input-placeholder { color:black; } ::-moz-placeholder { color:black; } :-ms-input-placeholder { color:black; } input:-moz-placeholder { color: black; }
#errorForm { background: rgb(90, 145, 47); margin-right: 200px; padding: 20px; color: white; margin-left: 1.7em; text-transform: uppercase; box-shadow: 1px 0px 15px 2px #ccc; }
  #errorForm.error { background: rgb(145, 47, 47);  }

iframe { border: none; }

  /* apaños */
.wrap { width: 100%; max-width: 786px; margin: 0 auto 2em auto; position: relative; }

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (max-width: 840px) {
  .wrap { margin: 0 3% 2em 3%; width: 94%; }
  .post-content p a { white-space: normal!important; }
}

  /* BLOQUES */
.team { font-size: 1em; font-style: italic; }
  div .team strong { font-style: normal; font-size: 0.9em; }
  .post-content .team { padding: 1.2em 0; font-family: 'Old Standard TT', serif; text-align: center; font-size: 1.2em; text-transform: uppercase;
    border-top: 2px solid #dadad7; border-bottom: 2px solid #dadad7; }
  .post-content .team strong { margin-right: 40px; }
  .post-content .team a { padding-bottom: 0.1em; }
.confi-inline { display: inline-block; width: 20px; height: 18px; overflow: hidden; text-indent: -999px; 
    background: url(../img/sp_ftbl.png) -285px -65px no-repeat; position: relative; top: 2px; }

.fashion, .post-body p a, #fbManu .nav li { display: inline-block; position: relative } //white-space: pre; 
  .fashion:before, .post-body p a:before, #fbManu .nav li:before { content: ''; display: block; width: 0; height: 33%; top: 33%; @include transition(width 1s);
    background: #fade32; position: absolute; z-index: -1; }
    .post-body p a:before, #fbManu .nav li:before { height: 100%; top: 0; }
    #fbManu .nav li:before { left: -11px; height: 5px; top: -6px; }
    #fbManu .nav .act:before { width: 100%; }
    #fbManu .nav .disabled a { color: #aaa; cursor: default!important; }
     #fbManu .nav .disabled:before { display: none; }
  .fashion:hover:before, .post-content:hover .post-title .fashion:before, .post-promo:hover .fashion:before,
  .fashion-act .fashion:before, .bl-scr-act .fashion:before, .post-body p a:hover:before, #fbManu .nav li:hover:before,
  .post-body p:hover a:before { width: 100%; }
  .post-body p:hover a { background: none; }
  #fbManu .nav .act a:hover { color: black; }
  #fbManu .nav li.extra-top:before { top: -22px; }
    #fbManu .nav li.extra-top.act:before, #fbManu .nav li.extra-top:hover:before { width: 50px; }

  /* SOCIAL */
.tw-inline, .fb-inline, .blog-inline, .mn-inline { text-indent: -999px; display: inline-block; overflow: hidden; width: 22px; height: 23px; line-height: 1em; vertical-align: bottom; 
    background: url(../img/sp_ftbl.png) -10px -17px no-repeat; }
  .tw-inline:hover, .fb-inline:hover, .blog-inline:hover, .mn-inline:hover { cursor: pointer;  }
  .tw-inline:hover { background-position: -71px -17px; }
  .mn-inline { background-position: -234px -66px; width: 33px; margin-left: 4px; height: 25px; }
    .mn-inline:hover { background-position: -194px -66px; }
  .blog-inline { background-position: -61px -106px; width: 33px; }
    .blog-inline:hover { background-position: -98px -106px; }
.fb-inline { background-position: -37px -17px; }
  .fb-inline:hover { background-position: -100px -17px; }
h1 .tw-inline, h1 .fb-inline { width: 36px; height: 33px; background-position: -11px -61px; padding-bottom: 0.2em; }
h1 .fb-inline { background-position: -51px -61px; }
  h1 .tw-inline:hover { background-position: -102px -61px; }
  h1 .fb-inline:hover { background-position: -142px -61px; }

  /* iconos */
.icobutt { display: block; text-indent: -999px; overflow: hidden; height: 50px; width: 40px; line-height: 100em; text-decoration: none; }
  .icobutt:before { display: block; content: "\f0c9"; font-family: FontAwesome; font-size: 3em; color: white;
    height: 50px; width: 30px; line-height: 1.8em; text-align: center; text-indent: 0; text-shadow: 1px 1px 2px black; }
  .icobutt:hover:before {  }
  .nav2 .icobutt-close-menu { position: absolute; bottom: -40px; right: 0; }
  .nav2 .icobutt-campaign { position: absolute; bottom: -80px; right: 0; }
    .icobutt-campaign:before { content: "\f0e0"; }
  .nav2 .icobutt-about { position: absolute; bottom: -90px; right: 0; }
    .icobutt-about:before { content: "\f128"; }
  #fbManu .nav .icobutt { height: 30px; display: inline-block; vertical-align: bottom; width: 30px; height: 30px;
        border: 0; position: absolute; top: -20px; left: 0; }
    #fbManu .nav .icobutt:before { font-size: 1.2em; color: black; text-shadow: none; }
    #fbManu .nav .icobutt-about:before { font-size: 1.6em; line-height: 1.6em; }

  /* CABECERA */
header { padding-top: 0; height: auto; max-height: 400px; }
#headWrap, .post-promo { position: absolute; bottom: 0; font-size: 2em; font-weight: 100; line-height: 1em; width: 100%; text-shadow: 0px 1px 8px white; // background: rgba(255,255,255,0.4);
  height: 100%; z-index: 1; pointer-events: none; }
  #headWrap .wrap, .post-promo .wrap { height: 100%; display: table; margin: 0 auto; }
    #headWrap .head-block, .post-promo .wrap-inn { display: table-cell; vertical-align: middle; text-align: center; text-transform: uppercase; font-weight: 100; }
  #headWrap small { display: block; font-size: 0.6em; }
  #headWrap a { color: #08c; margin-top: 0.4em; }
  .head3 { display: block; width: 0; }
  .head5 { font-size: 2.6em; line-height: 1em; }
    .head5 small { line-height: 0.7em; }
.post-promo { position: relative; overflow: hidden; pointer-events: all; max-height: 330px; }
  .post-promo a { text-decoration: underline; }
    .post-promo a:hover { color: black; }
  .post-promo h1 { font-weight: 100; font-size: 2.4em; line-height: 1em; margin-top: 0.4em; }
    .post-promo h1 .fashion:before { @include transition-delay(1s !important); }
  .post-promo h2 { margin-bottom: 0; padding-bottom: 0.4em; font-family: 'Old Standard TT', serif; }
  .post-promo-image { width: 100%; height: auto; opacity: 0.6; z-index: -2; position: relative; }
  .post-promo-inn { display: block; position: absolute; top: 100px; height: 100px; margin-top: -50px; width: 100%;
      color: black; text-align: center; text-transform: uppercase; }
    .post-promo-inn:before { display: block; content: ''; position: absolute; top: -75px; left: 50%; margin-left: -70px; height: 0; width: 0px;
      border: 70px solid transparent; border-top: 60px solid white; }
#promo-1 h1 { line-height: 0.6em; margin-top: 0.8em; }

#youtubeWrap { width: 100%; height: 0; padding-bottom: 40.25%; position: relative; }
  #youtubeWrap:before { content: ''; display: block; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.3); 
      z-index: 1; position: absolute; pointer-events: none; }
  #youtubeWrap2 { width: 100%; height: 0; padding-bottom: 56.25%; position: absolute; top: -10%; }
  #youtubeWrap iframe { width: 100%; height: 100%; position: absolute; }

#headBottom { text-transform: uppercase; font-family: 'Old Standard TT', serif; color: black; text-align: center; line-height: 2.4em; margin: 3em 0 5em 0; }
  #headBottom .wrap { border-bottom: 2px solid #dadad7; position: relative; padding-bottom: 3em; }
    #headBottom .wrap:after { content:''; display: block; background: url(../img/sp_ftbl.png) -150px -10px no-repeat;
      position: absolute; height: 43px; width: 84px; left: 50%; bottom: -22px; margin-left: -42px; }
  
  /* menu */
#fbManu { position: fixed; top: 0; left: 0; @include box-sizing(border-box); width: 100%; z-index: 20; padding: 0.4em 0;
    background: white; font-family: 'Lato', sans-serif; font-weight: 900; text-transform: uppercase; font-size: 0.7em; text-align: center; }
  #fbManu ul { display: none; margin-bottom: 0; }
    #fbManu li { background: none!important; min-width: 30px; }
    #fbManu .nav a { color: black; @include transition(opacity 1s); background: none!important; font-size: 1.4em; line-height: 2em; font-weight: 900;
        padding-right: 8px; border-right: 1px solid black; text-decoration: none; }
    #fbManu .nav .ini a, .foot-link { font-weight: 100; font-family: 'Merriweather', serif; font-style: italic; font-size: 1.1em; border: 0; }
      #fbManu .nav .ini a:before, .foot-link:before { content: ''; display: inline-block; height: 20px; width: 20px;
          background: url(../img/sp_ftbl.png) -9px -100px no-repeat; vertical-align: bottom; padding-bottom: 5px; }
      .foot-link { padding-bottom: 120px; text-transform: uppercase; text-decoration: none; }
      .foot-link:before { background: url(../img/sp_ftbl.png) -15px -148px no-repeat; width: 110px; height: 90px; position: absolute; right: 0; top: 40px; }
    #fbManu .nav li:last-child { border: 0; padding: 0; }
    #fbManu .nav li:last-child a { border: 0; padding: 0; }
  #fbManu .nav .nav-hide { display: none; }
.admin-bar #fbManu { top: 46px; }

@media (max-width: 840px) {
  #headWrap, .post-promo { font-size: 1.5em; }
  #youtubeWrap { padding-bottom: 50.55%;}
  #fbManu .nav a { border: 0 }
  #fbManu .nav li:before { left: -6px;}
}
@media (max-width: 600px) { 
  #headWrap, .post-promo { font-size: 0.9em; }
    .post-promo-inn { top: 10px; margin-top: 0; }
    .post-promo-inn:before { display: none; }
}

  /* SECCIONES */

#main-campaign-widget { position: fixed; bottom: 0; right: 20px; text-align: center; background: white; width: 160px; width: 120px; height: 270px; z-index: 20;
      background: rgba(255, 255, 255, 0.9); box-shadow: 1px 1px 14px #ccc; padding: 20px 20px 0 20px; @include transition(height 1s); }
  #main-campaign-widget.closed { height: 70px; }
  #main-campaign-widget-close { position: absolute; top: 10px; right: 10px; font-size:1.4em; text-transform: uppercase; font-weight: 800; font-family: lato, sans-serif; }
  .cmpg-wdgt-bott { position: absolute; bottom: 0; width: 123px; font-size: 0.7em; }
    .cmpg-wdgt-bott a { margin: 0 0.4em; }
  .cmpg-wdgt-club { width: 120px; font-size: 0.6em; position: absolute; top: 20px; }
    .cmpg-wdgt-club p { margin-bottom: 1.2em; }
    .cmpg-wdgt-club img { display: inline-block; height: 50px; width: auto; margin-bottom: 0.4em; }
    .cmpg-wdgt-club a { line-height: 1.1em; font-weight: 800; margin-bottom: 0.4em; }

#peticion { padding: 4em 14em 4em 4em; border: 1px solid #ccc; box-shadow: 0 15px 40px 0px #ccc; margin: 1em 2em 3em 2em; font-size: 0.8em; font-weight: 800; position: relative; }
  #peticion:before { content: 'desmanesdelfutbol.com'; display: block; position: absolute; right: 50px; top: 20px; width: 170px;height: 130px; z-index: -1;
      background: url(../img/sp_ftbl.png) 10px -130px no-repeat; text-transform: uppercase; text-align: center; line-height: 6.8em; text-shadow: 1px 1px 0px white; }
  #peticion input, #peticion select { margin-left: 0; width: 60%; min-width: 200px; display: block;height: 30px!important; }
  .form-combo { position: relative; }
    #peticion #frm-doc { width: 128px; min-width: 134px; }
  .frm-num-div { position: absolute; right: 0; top: 0; width: 100%; padding-left: 140px; box-sizing: border-box; }
  #frm-mail { margin-bottom: 3em; margin-bottom: 2em; width: 200px; }

#twt-campaign { clear: both; margin-top: 8em; }
  #twt-campaign h2 { float: right; width: 30%; box-sizing: border-box; margin: 0; padding: 0 0 0 1em; }
  #twt-campaign h4 { font-size: 1.5em; border-bottom: 1px solid #ccc; margin-right: 2.1em; margin-top: 1.8em; }
  .twt-campaign-left { float: left; width: 70%; }
  .twt-campaign-right { float: right; width: 30%; box-sizing: border-box; margin: 0; padding: 0 0 0 1em; }
    .twt-campaign-right p { font-size: 1em; }
.cmpg-club-row, .cmpg-admin-row { width: 50px; height: 80px; margin: 0 1em; display: inline-block; position: relative; }
  .cmpg-list-ok { margin-right: 30px; }
  .cmpg-club-hid { opacity: 0; position: absolute; background: black; bottom: 110px; width: 140px; left: 0; margin-left: -40px; @include transition (all 1s); pointer-events: none; z-index: 2; }
    .cmpg-club-hid:before { display: block; content: ''; height: 0; width: 0; border: 15px solid transparent; border-top: 15px solid black; position: absolute; bottom: -30px; left: 50%; margin-left: -20px; }
    .cmpg-club-hid h3 { border: 0; text-align: center; color: white; font-size: 1em; padding: 0.9em 0.4em; font-style: initial; margin: 0; }
    .cmpg-club-row:hover .cmpg-club-hid, .cmpg-admin-row:hover .cmpg-club-hid { opacity: 1; }
  .cmpg-club-row img, .cmpg-admin-row img { width:100%; height: auto; @include transition(all 1s); cursor: pointer; opacity: 0.5; }
    .cmpg-list-ok img:hover { opacity: 1; }
  #main .cmpg-club-bottom { bottom: initial; top: 50px; bottom: inherit; }
    #main .cmpg-club-bottom:before { border: 15px solid transparent; border-bottom: 15px solid black; top: -30px; }
  #fbManu li .cmpg-club-bottom { font-family: 'Merriweather', serif; font-weight: 100; text-align: center; line-height: 1.3em; padding: 10px; width: 180px; 
      text-transform: none; color: white; left: 50%; margin-left: -100px; }
    #fbManu li:hover .cmpg-club-bottom { opacity: 1; }
#form-twt, #form-twt2 { padding: 1em 1em 1em 1em; border: 1px solid #ccc; box-shadow: 0 15px 40px 0px #ccc; font-size: 0.9em; margin-top: 8em; }
  .formInn, .formInn2 { line-height: 1.9em; font-weight: 800; }
  .send-twt, .send-twt2 { font-size: 1.1em; margin-top: 2em; }
  #frm-kind, #frm-kind2, #frm-ss { width: 115px; }
  #form-twt2 { margin-top: 1em; }

@media (max-width: 600px) {
  #peticion { padding: 2em 3em 4em 2em; }
    #peticion input, #peticion select { width: 100%; }
  #main-campaign-widget { padding: 10px 10px 0 10px; height: 250px; font-size: 0.9em; }
    .cmpg-wdgt-club a { padding: 4px 0; }
  #form-twt { margin-top: 0; }
    .twt-campaign-right { width: 100%; float: none; padding: 0; }
    .twt-campaign-left { width: 100%; float: none; padding: 0; }
    .cmpg-list-ok { margin-right: 0; }
  .frm-num-div { position: inherit; padding: 0; }
  #errorForm { width: 100%; box-sizing: border-box; margin: 0; clear: both; }
  #sendForm { margin-bottom: 20px; }
}

#content-holder { margin: 0; }

.bl-sct {  }
  .bl-sct-end { padding-bottom: 3em; border-bottom: 2px solid #dadad7; position: relative; margin-bottom: 5em; }
    .bl-sct-end:after { content: ''; display: block; background: url(../img/sp_ftbl.png) -150px -10px no-repeat;
      position: absolute; height: 43px; width: 84px; left: 50%; bottom: -22px; margin-left: -42px; }

.post-content { margin-bottom: 0; padding-top: 1em; }
  .post-content h2 { font-size: 2.2em; padding-bottom: 0.4em; padding-top: 1em; }
  .post-content .post-title { font-size: 42px; text-transform: uppercase; line-height: 1.2em; text-align: center; margin-top: 0.6em; font-weight: 100; }
  .post-content strong { text-transform: uppercase; font-size: 1.1em; font-style: italic; }
  .post-body { text-align: left; }
    .post-body p a { text-decoration:none; background: #dfdfdf; }
      .post-body p a:hover { background: none; color: black; }
.post-head-image { width: 100%; height: auto; display: block; }

#sct-01-cifras {
  .post-title { position: relative; display: block; }
    .post-title-main { position:absolute; left: 0; top: 0; height: 100%; width: 100%; display: table; }
    .post-title-wrap { display: table-cell; vertical-align: middle; }
}

@media screen and (min-width: 840px) {
  .admin-bar #fbManu { top: 30px; }
  #fbManu li { display: inline-block; padding-right: 6px; }
  #fbManu .nav .nav-hide { display: block; }
  #closeMenu, .showFooter, .showFooter2 { display: none; }
  #fbManu ul { display: block!important; text-align: left; font-size: 0.9em; }
  .wk-col-50 { width: 50%; float: left; padding-right: 1em; @include box-sizing(border-box); }
  .wk-col-50-r { padding-right: 0; padding-left: 1em; }
}

#map-pop { display: none; position: absolute; z-index: 26; height: 100%; width: 100%; background: rgba(255,255,255,0.9); color: #333; height: 107%; margin-top: -3%; padding-top: 2em; }
  .wrap-pop { width: 100%; max-width: 1014px; max-height: 100%; margin: 0 auto 2em auto; position: relative; 
      padding: 0 2em; padding-bottom: 20px; @include box-sizing(border-box); overflow-y: auto; }
  #map-pop h2 { padding-bottom: 0; font-size: 2em;
      margin: 0; padding-top: 10px; font-family: 'Old Standard TT', serif; text-transform: uppercase; line-height: 1em; }
  #map-pop ul { list-style: disc; }
  #map-pop li { margin-bottom: 0.2em; }
  #map-pop .link { position: relative; display: inline-block; width: 40px; height: 40px; text-indent: -9999px; padding: 0; float: none; overflow: hidden; }
  #map-pop .pop-team { margin-bottom: 0.4em; font-size: 1.4em; font-weight: 800; }
  #map-pop .comments { font-size: 0.9em }
  .pop-half { width: 45%; float: left; }
    .foto-team { position: absolute; z-index: -1; opacity: 0.2; width: 100px; left: 50px; top: 20px; }
  #map-pop-close { position: absolute; right: 0; top: 0; overflow: hidden; text-indent: 999px; padding: 10px; z-index: 20; padding-right: 0;
      height: 40px; width: 40px; display: inline; line-height: 42em; cursor: pointer; text-shadow: 0 1px 4px white; padding-top: 0; top: 0; }
    #map-pop-close:before { display: block; content: "\f00d"; font-family: FontAwesome; font-size: 1.7em;
      height: 30px; width: 30px; line-height: 1.8em; text-align: center; text-indent: 0; }
  #map-pop .wrap { padding: 2em 0; padding: 2em 0; height: 90%; position: relative; overflow: auto; }
  #map-pop .foto { width: 50%; float: right; margin: 0 0 0.4em 0.4em; box-shadow: 0 0 40px -10px black; }
  #map-pop .pop-quote { float: right; width: 50%; right: 0; font-size: 1.8em; text-align: right; line-height: 1em; font-weight: 800; clear: right; margin-top: 0.5em; }

.send { text-align: right; font-family: serif; line-height: 2em; font-size: 1.7em; font-style: italic; }

#map-content { display: none; }
#tpl-year { position: absolute; z-index: 5; left: 15px; bottom: 61px; }
  .tpl-year-main { font-size: 2.4em; font-weight: 900; line-height: 1em; }
  #tpl-year h4 { font-size: 1.3em;  margin-bottom: 0; padding-bottom: 0; }
#tpl-year2 { position: absolute; z-index: 5;  right: 10px; top: -30px; width: 180px;
    font-size: 0.8em; line-height: 1.2em; margin-top: 10px; text-align: right; font-weight: 800; }

.link { display: inline-block; height: 35px; font-size: 0.8em; padding-left: 40px; text-decoration: none; line-height: 1.3em; text-decoration: none!important; }
  .link:before { display: block; content: "\f08e"; font-family: FontAwesome; font-size: 2.6em; position: absolute; left: 0;
    height: 30px; width: 30px; line-height: 0.7em; text-align: center; text-indent: 0; top: 6px; }
  .wikipedia:before { content: "W"; font-family: serif; }

.quienes { text-align: center; line-height: 1.5em; margin: 0 13em; }
  .quienes .wk-col-l { width: 48%; line-height: 2.2em; }
  .quienes h3 { border: 0; margin: 0; clear: both; padding-bottom: 0.4em; padding-top: 1em; font-size: 1.5em; }
  .quienes h1 { text-transform: uppercase; font-weight: 100; margin-top: 0.8em; padding-bottom: 0; }
    .quienes h1 a { text-decoration: none; }
@media screen and (max-width: 840px) {
  .quienes { margin: 0 auto; }
}

.map-years { width: 100%; max-width: 805px; margin: 0 auto 2em auto; position: absolute; bottom: -10px; z-index: 20; left: 50%; margin-left: -400px; }
  #years .btn { padding: 4px 3.5px; }
  .btn.showInfo { width: 10px; text-indent: -9999px; overflow: hidden; }
    .btn.showInfo:before { display: block; content: "\f129"; font-family: FontAwesome; font-size: 1.4em; color: white;
      height: 22px; width: 30px; line-height: 1.2em; text-align: center; text-indent: 0; text-shadow: 1px 1px 2px black; 
      position: absolute; right: 0; }

#politcs { position: fixed; bottom: 0; background: white; font-size: 0.7em; width: 100%; border-top: 1px solid #333;
      z-index: 200; padding: 1em 2em 0 2em; box-sizing: border-box; max-height: 100%; overflow-y: auto; }
  #politcs a { text-decoration: underline!important; }
  #closePolitics { position: absolute; right: 0; top: 0; font-weight: 800; padding: 10px; }

#map-main { display: none; width: 100%; height: 550px; margin-top: 3em; position: relative; }
.ftbl-map-inn { width: 100%; height: 550px;  }
#map-2 { position: absolute; bottom: 10px; right: 0; width: 300px; height: 146px; box-shadow: 1px 1px 11px black; }
  #map-2-inn { width: 100%; height: 100%; }
  .ftbl-map h3 { margin: 0; }
  .ftbl-map:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; z-index: 1;
    box-shadow: inset 0 -60px 30px -20px white, inset 0 40px 30px -20px white; }
.wk-tx-rght { text-align: right; }
#ftbl-table { position: relative; overflow: hidden; }
.ftbl-table { height: 300px; overflow-y: scroll; overflow-x: hidden; width: 100%;
box-shadow: inset 1px 12px 7px -10px #ccc, inset 1px -14px 7px -10px #ccc; }
  .tablesorter-headerAsc, .tablesorter-headerDesc { background: #818181; position: relative; }
  .tablesorter-headerAsc:before, .tablesorter-headerDesc:before { display: block; content: "\f0d7"; font-family: FontAwesome; font-size: 1.6em; color: white;
      height: 22px; width: 30px; line-height: 0.9em; text-align: center; text-indent: 0; text-shadow: 1px 1px 2px black; 
      position: absolute; right: 0; }
    .tablesorter-headerDesc:before { content: "\f0d8"; }
    .ftbl-table th:nth-child(3), .ftbl-table th:nth-child(4) { padding-right: 20px; }

  .ftbl-table-ctrls { margin-bottom: 20px; }
  th { padding-top: 10px; line-height: 1.5em; vertical-align: top; background: black; color: white; }
  .ftbl-table td:nth-child(5) { text-align: right; }
  .g2-tabla .btn, .ftbl-table .btn { position: absolute; top: 38px; right: 20px; }
#map-wrap { position: relative; width: 100%; overflow: hidden; }
#map-content { position: absolute; top: 20px; left: 20px; z-index: 10; background: none; text-align: left; font-size: 1.9em; font-weight: 900; } 
#map-pointers-wrap { position: absolute;left: 50%; top: 50%; z-index: 10; font-size: 0.7em; padding-top: 12px; }
  .obra { position: absolute; bottom: 0; border-left: 2px solid black; line-height: 1em; padding-left: 9px; font-size: 0.8em; width: 140px; 
      pointer-events: none; cursor: pointer; font-weight: 800; }
      .obra:before { content: ''; position: absolute; bottom: -3px; left: -5px; display: block; height: 6px; width: 6px; 
        border-radius: 10px; border: 1px solid black; }
    .obra:hover {  }
    .obra-name { font-size: 3em; line-height: 0.7em; padding-bottom: 0.4em; pointer-events: all;}
    .obra-gasto { font-size: 3.2em; font-weight: 900; line-height: 0.8em; pointer-events: all; }
    .obra-concepto { font-size: 1.6em; line-height: 1.2em; pointer-events: all; position: relative; text-shadow: 0 1px 1px white; }
      .obra-concepto:hover .cmpg-club-hid { opacity: 1; }
      .obra-concepto .cmpg-club-hid { left: 50%; margin-left: -70px; bottom: 50px; text-shadow: none; }
      .obra-concepto small { font-size: 0.6em; line-height: 1.3em; padding-top: 4px; display: block; }

  .obra-right, .obra-4, .obra-7, .obra-6, .obra-10, .obra-12, .obra-5, .obra-0, .obra-17, .obra-24, .obra-32, .obra-28, .obra-27, .obra-31,
  .obra-13, .obra-33 { text-align: right; right: 0; padding-right: 9px; border-right: 2px solid black; border-left: 0; 
     &:before { left: initial; right: -5px; }
  }

  .obra-0 { bottom: 56px; left: -149px; }
    div.obra-0 .cmpg-club-hid { bottom: 80px; }
  .obra-1 { bottom: 62px; left: 16px; }
  .obra-2 { bottom: 60px; left: 15px; }
    .obra-2 { bottom: 60px; left: 15px; }
  .obra-3 { bottom: 60px; left: 5px; }
  .obra-4 { bottom: 114px; left: 130px; }
  .obra-5 { bottom: 116px; left: 103px; }
  .obra-6 { bottom: -118px; left: -260px; }
  .obra-7 { bottom: 238px; left: -114px; }
  .obra-8 { bottom: 10px; left: 150px; }
  .obra-9 { bottom: 70px; left: 11px; }
  .obra-10 { bottom: 50px; left: -160px; }
  .obra-11 { bottom: -64px; left: 130px; }
  .obra-12 { bottom: -78px; left: -213px; }
  .obra-13 { bottom: 30px; right: 5px; }
  .obra-14 { bottom: 238px; right: 67px; }
  .obra-15 { bottom: -150px; left: -30px; }
    .obra-15 .cmpg-club-hid { bottom: 80px; }
  .obra-16 { bottom: 116px; left: 269px; }
  .obra-17 { bottom: 178px; right: 235px; }
  .obra-18 { bottom: 232px; right: -220px; }
  .obra-19 { bottom: -131px; right: -163px; }
  .obra-20 { bottom: 8px; right: -442px; }
  .obra-21 { bottom: -77px;right: -258px; }
  .obra-22 { bottom: 232px; right: -221px; }
    .obra-22 .cmpg-club-hid { bottom: 80px; }
  .obra-23 { bottom: 234px; right: 46px; }
  .obra-23 { bottom: 158px; right: 46px; }
  .obra-25 { bottom: 143px; left: 161px; }
  .obra-24 { bottom: 140px; right: 55px; }
  .obra-26 { bottom: 140px; right: -275px; }
  .obra-28 { bottom: 0px; right: -155px; width: 120px; }
    .obra-28 .cmpg-club-hid { bottom: 80px; }
  .obra-27 { bottom: -123px; left: -281px; }
  .obra-29 { bottom: 33px; left: 154px; }
  .obra-30 { bottom: 36px; left: 165px; width: 120px; }
  // .obra-31 { bottom: 33px; left: 154px; }
  .obra-31 { bottom: 92px; left: -59px; z-index: 10; font-size: 0.6em; width: 160px; }
  .obra-32 { bottom: -80px; left: -140px; }
  .obra-33 { left: -254px; bottom: 254px; }

  .obra-Éibar { display: none!important; }

  /* grafica valencia */
.g1-graph { display: none }


#ftblGraph1 { box-shadow: 0 0 2px #333; margin-bottom: 2em; }
  #ftblGraph1 h3 { font-size: 1.4em; border: none; text-align: center; background: #fafafa; margin: 0; }
    .g1-filters { background: #eaeaea; height: 303px; @include box-sizing(border-box); width: 100%; overflow-y: auto; width: 100%; height: 200px; }
      .g1-filters h3 { padding: 0.5em 2em; margin: 0; display: block; border: none; cursor: pointer; }
      .g1-filters h4 { font-size: 1em; margin: 0; padding: 0.1em 0.8em; text-transform: uppercase; font-family: lato, serif; cursor: pointer; }
        .g1-filters .active h4, .g1-filters h4:hover { background: #cacaca; }
        .g1-filters h4:before { display: block; content: "\f0d7"; font-family: FontAwesome; font-size: 2.4em; color: white;
          height: 50px; width: 30px; line-height: 1.8em; text-align: center; text-indent: 0;
          display: inline; font-size: 1.2em; color: black; padding-right: 1em; }
        .g1-filters h4 a { display: block; float: right; width: 20px; height: 30px; font-family: FontAwesome;
            font-size: 1.5em; line-height: 1.4em; text-decoration: none; color: black; }
      .g1-flt { margin-bottom: 1px; clear: both; }
        .g1-flt-group { background: white; }
        .g1-flt .btn { width: 50%; float: left; @include box-sizing(border-box); text-align: center; padding: 0.4em 0; 
          border: none; box-shadow: none; background: white; }
          .g1-flt-mot .btn { width: 100% }
  #ftblGraph1 .btn { border: 1px solid #ccc; margin-right: 8px; font-size: 0.9em; margin-bottom: 0.8em;
      margin-bottom: 4px; padding: 3px 4px; margin-bottom: 4px; padding: 3px 4px; margin: 0; border: none; border-radius: 0; }
    #ftblGraph1 .btn.act, #ftblGraph1 .btn:hover { background: #eee; box-shadow: inset 1px 1px 3px -1px #666; color: #9E3A3A; }

.g1-content { height: 303px; @include box-sizing(border-box); border-top: 1px solid #ccc; width: 100%; height: 403px; overflow-y: auto;
    box-shadow: inset 0 2px 6px -1px #333; position: relative; }
  .g1-content-wrap { position: relative; height: 501px; overflow-y: auto; padding-top: 40px; @include box-sizing(border-box);  }
    .g1-content h4 { margin: 0; font-size: 1.2em; text-align: center; background: #eaeaea; border: none; box-shadow: inset 0 -1px 10px -5px; }
    .g1-content h3 { width: 100%; text-align: right; }
.g1-content .total-div { padding: 0.7em; text-transform: uppercase; font-family: lato; background: black; color: white; z-index: 20;
    position: absolute; top: 0; width: 100%; @include box-sizing(border-box); }
  .g1-content .total-div a { color: white; }
    .g1-content .total-div a.act { color: #DFDF00; text-decoration: none; }
  .elm { cursor: pointer; position: relative; border: 1px solid #ccc; }
    .elm-inn { background: #FFEB6F; display: inline-block; box-shadow: 4px 1px 7px -2px #999;height: 50px; float:left; clear: left; }
    .elm-main { float: left; height: 50px; overflow: hidden; }
    .elm-txt { font-size: 0.8em; line-height: 1.3em; margin-top: 0.5em; margin-bottom: 0.3em; float: left; margin-left: 10px; margin-top: 0; }
    .elm .elm-main .elm-cant { display: block; margin-left: 10px; margin-top: 0.2em; margin-left: 10px; margin-top: 0; margin-bottom: 0; }

    .elm-hid { font-size: 0.8em; line-height: 1.4em; display: block; overflow: hidden; position: absolute; top: 0; background: white; opacity: 0; z-index: 10; 
          @include transform-style(preserve-3d); @include transform(rotateX(90deg)); @include transition(all .4s); }
      .elm:hover .elm-hid { height: auto; border: 1px solid #ccc; z-index: 1; padding: 0.8em; top: 40px; opacity: 1;
        left: 20px; box-shadow: 0 11px 20px -13px black; @include transform(rotateX(0)); }
      .elm-hid a { text-decoration: none; }
        .elm-hid a:hover { text-decoration: underline; }


#ftblGraph2 { margin-bottom: 1em; }
  #ftblGraph2.graph-right { width: auto; float: right; margin-left: 20px; }
  .g2-ctrls { margin-bottom: 10px; }
  .g2-ctrls a { text-decoration: none; font-size: 0.8em; }
  .g2-gside { width: 50px; float: left; position: absolute; }
    .g2-gside .year { height: 30px; }
  #ftblGraph2 table { width: 100%; }
    .g2-tabla { position: relative; margin-top: 1em; }
    .g2-tabla th { font-size: 0.9em; }
  .g2-gmain { height: 419px; width: 100%; padding-left: 100px; @include box-sizing(border-box); }

  .g2-graph { }
  .g2-foot {  }



tr { cursor: pointer; }
  tr:hover td { background: #eee; }

.btn-group { line-height: 1.1em; box-shadow: 0 10px 17px -11px black; }
  .btn-primary { box-shadow: 0 10px 17px -11px black; }
  .btn-group a { text-decoration: none!important; }
#animaYears.active { cursor: default; }

svg {}
  #d1hac, #d2hac, #d1ss, #d2ss { stroke-width: 3px; fill: none; }
    #d1hac { stroke: red; }
    #d2hac { stroke: red; }
    #d1ss { stroke: red; }
    #d2ss { stroke: red; }

@media screen and (min-width: 782px) {
  .g1-content { width: 56%; float: right; height: 503px; position: relative; border: 1px solid #ccc; box-shadow: inset 0px -6px 22px -10px black; }
  .g1-filters { width: 44%; height: 503px; background: #eaeaea; float: left; }
}
