<img class="post-head-image" src="./img/img_artc-2.jpg" alt="">

<div class="post-content">

  <div class="wrap">

    <h1 class="post-title"><div class="fashion">¿Le interesa</div> a los políticos la deuda de los clubes de fútbol?</h1>

    <p class="team">
      <strong>20 de enero del 2015</strong> 
      <strong>Publicado en <a href="http://www.elconfidencial.com/deportes/futbol/2015-01-20/le-interesa-a-los-politicos-la-deuda-de-los-clubes-de-futbol_624871/" class="confi-inline" target="_blank">el Confidencial</a></strong> Compártelo: 
      <a class="fb-inline" target="_blank" href="http://www.facebook.com/sharer.php?u=http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}" target="_blank" title="Compártelo en Facebook">Compártelo en Facebook</a>
      <a class="tw-inline" target="_blank" href="https://twitter.com/intent/tweet?via=desmanesf&amp;text=El fútbol en la política: las intervenciones en el congreso http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }} %23desmanesfútbol" title="Compártelo en twitter">Compártelo en twitter</a>
      <a class="mn-inline" target="_blank" href="http://meneame.net/submit.php?url=http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}&amp;text=El fútbol en la política: las intervenciones en el congreso" title="Compártelo en twitter">Compártelo en twitter</a>
    </p>

    <div class="post-body">

      <p><strong>Enfrentarse al deporte rey</strong> no es tarea fácil para los políticos. Más de 900 millones de personas vieron la final del Mundial de Sudáfrica, según informó la FIFA. Nuestro fútbol se consolidaba como ‘marca España’ tras el triunfo también en la Eurocopa 2008. Cuestionar las prácticas financieras de los equipos nacionales, teniendo en cuenta el alto nivel de seguimiento de este deporte en España, puede parecer poco popular. Sin embargo, la situación económica ha propiciado que la deuda pública del fútbol se cuele con más frecuencia últimamente en la agenda del Congreso de los Diputados y del Senado. Vea cómo ha sido el debate político desde el año 2003 hasta ahora.</p>

    </div>
  
  </div>


  {% if seo is not defined %}
    <iframe id="timeline" style="width: 100%; height: 634px;" src="" width="300" height="150"></iframe>
  {% endif %}
  
  <div class="bl-sct-end wrap"></div>
</div>