<img class="post-head-image" src="./img/img_artc-1.jpg" alt="">

<div class="post-content">

  <div class="wrap clearfix">

    <h1 class="post-title">La deuda pública del fútbol, 738,5 millones de euros que no se <span class="fashion" data-hover="recorte">pagarían hasta 2021</span></h1>

    <p class="team">
      <strong>22 de enero del 2015</strong> 
      <strong>Publicado en <a href="http://www.elconfidencial.com/deportes/futbol/2015-01-22/la-deuda-publica-del-futbol-738-5-millones-de-euros-que-no-se-pagarian-hasta-2021_627181/" class="confi-inline" target="_blank">el Confidencial</a></strong> Compártelo: 
      <a class="fb-inline" target="_blank" href="http://www.facebook.com/sharer.php?u=http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}" target="_blank" title="Compártelo en Facebook">Compártelo en Facebook</a>
      <a class="tw-inline" target="_blank" href="https://twitter.com/intent/tweet?via=desmanesf&amp;text=La deuda pública del fútbol, 738,5 millones de euros que no se pagarían hasta 2021 http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }} %23desmanesfútbol" title="Compártelo en twitter">Compártelo en twitter</a>
      <a class="mn-inline" target="_blank" href="http://meneame.net/submit.php?url=http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}&amp;text=La deuda pública del fútbol español: el lado más oscuro del deporte rey" title="Compártelo en twitter">Compártelo en twitter</a>
    </p>

    <div class="post-body">

      <p><strong>El 17 de mayo de 2014</strong> el Atlético de Madrid se alzaba con su décima Liga. Varios meses más tarde, el equipo colchonero lograba otro éxito que pasó desapercibido para la mayor parte de la opinión pública: reducir su deuda con Hacienda y la Seguridad Social en más de un 20%, dejando la cifra a saldar en <a href="http://ccaa.elpais.com/ccaa/2014/11/19/madrid/1416434130_534427.html" target="_blank" title="El país, 20/11/2014: El Atlético reduce más de un 20% su deuda con Hacienda">155 millones de euros</a>. Pese al cumplimiento de estas obligaciones, el Atleti sigue liderando la clasificación de deudas con la Administración pública.</p>

      <p>En total, los clubes de Primera y Segunda acumulaban una deuda pública de 738,5 millones de euros, según el <a href="http://www.csd.gob.es/csd/estaticos/noticias/balance-economico-futbol-primeraysegunda2013.pdf" target="_blank" title="Consejo superior de deportes: Balance de la situación económico-financiera del fútbol español 1999/2013">balance económico del fútbol español</a> correspondiente a la temporada 2012-2013 elaborado por el Consejo Superior de Deportes (CSD), una cantidad muy cercana a la destinada para cultura en los <a href="http://www.sepg.pap.minhap.gob.es/Presup/PGE2015Ley/MaestroDocumentos/PGE-ROM/doc/1/7/2/6/N_15_E_R_6_2_R_1_1.PDF" target="_blank" title="Secretaría de estado de presupuestos y gastos: Resumen general por políticas de gasto y secciones del presupuesto de gastos">Presupuestos Generales del Estado 2015</a>. Estas obligaciones son 2,6 veces más elevadas que hace una década, dejando en papel mojado los más de 277 millones de euros -tras actualizar el IPC- de la temporada 2002-2003. </p>

      <p>Los cumplimientos del Atlético y las palabras del presidente de la Liga, Javier Tebas, sobre el <a href="http://www.elconfidencial.com/deportes/futbol/2014-10-02/el-futbol-espanol-debe-2-000-millones-y-villar-solo-ve-su-proyeccion-mundial_223179/" target="_blank" title="El confidencial, 2/10/2014: El fútbol español debe 2.000 millones y Villar sólo ve su "proyección mundial"">descenso considerable de la deuda</a> de los equipos de fútbol desde mediados de 2013, dan a entender que los clubes realmente se han puesto serios en este asunto. La sociedad dirigida por Enrique Cerezo, así como sucede con otras, mantiene con Hacienda un calendario negociado para ir pagando estrictamente la deuda hasta el ejercicio 2017-2018. Una situación de amplia flexibilidad con el fisco que bien podría calificarse de privilegiada.</p>

      <p>“Sí que creo que durante unos años se ha tratado a algunos clubes con cierto cariño”, opina para El Confidencial y desmanesdelfutbol.com José María Gay de Liébana, experto en las finanzas de las principales ligas europeas. El conocido economista hace especial hincapié en cómo, desde que se firmó en abril de 2012 el <a href="http://www.csd.gob.es/csd/documentacion/01GabPr/Noticias/el-csd-requiere-a-la-rfea-que-abra-inmediatamente-expediente-a-mullera-23-7-12/" target="_blank" title="Consejo superior de deportes, 25 de abril del 2012: Protocolo entre el Mº de Educación, Cultura y Deporte, el CSD y la LFP">protocolo para el control y reducción de la deuda</a> de los equipos con Hacienda, se ha empezado a poner fin a la situación de privilegio de la que durante tantos años han gozado los clubes con la Agencia Tributaria. “El problema que ha habido es que los equipos han contado durante mucho tiempo con una patente de corso para no hacer frente a esa deuda y, de la noche a la mañana, se les empieza a exigir lo que no se ha pagado durante tantos años”, subraya.</p>

      <h2>Una deuda imparable hasta 2013</h2>

      <p>Muchos ciudadanos son conscientes de que, a través de sus impuestos, se están financiando los desmanes cometidos por el fútbol español desde hace varias décadas. Ya en la temporada 1999-2000 la deuda acumulada entre Primera y Segunda era 191,6 millones de euros, una vez ajustada la inflación.</p>

      <p>En el gráfico inferior se puede apreciar cómo desde el año 2000 hasta la temporada 2012-2013 hay un incremento constante de la deuda pública del fútbol. En total, las obligaciones de los equipos de Primera y de Segunda con la Agencia Tributaria y la Seguridad Social se habían casi cuadriplicado.</p>


      {% if seo is not defined %}
        <script id="infogram_0_deuda_publica_del_futbol_espanol" src="//e.infogr.am/js/embed.js?a9z" type="text/javascript"></script><div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"><a target="_blank" href="https://infogr.am/deuda_publica_del_futbol_espanol" style="color:#acacac;text-decoration:none;"></a> | <a style="color:#acacac;text-decoration:none;" href="https://infogr.am" target="_blank">Create infographics</a></div>
      {% endif %}

      <p>Desde 2013 y por primera vez en quince años, se ha empezado a reducir la deuda pública del fútbol. El secretario de Estado de Relaciones con las Cortes, José Luis Ayllón, cifraba en <a href="http://www.congreso.es/public_oficiales/L10/CONG/BOCG/D/BOCG-10-D-581.PDF" title="B.O.E. 18/12/2014: Control de la acción del Gobierno" target="_blank">542,6 millones de euros</a> lo que los equipos debían a la Agencia Tributaria a 31 de agosto de 2014. Es decir, una rebaja de 177 millones de euros con respecto al año anterior, sin tener en cuenta la deuda con la Seguridad Social -los últimos datos son de <a href="http://www.senado.es/web/expedientdocblobservlet?legis=10&id=132027" title="Senado, pregunta a Francisco Javier Losada de Azpiazu" target="_blank">marzo de 2014</a>-, ni a Athletic Club Bilbao, Osasuna, Real Sociedad, Eibar y Alavés por tributar en territorios forales.</p>

      <h2>Opacidad en las cuentas: <div class="fashion">echando balones fuera</div></h2>

      <p>Las medidas tomadas desde el Ejecutivo empiezan a dar sus frutos, ¿pero  cuánto tiempo tardará el fútbol español en pagar su millonaria deuda pública? Javier Tebas se ha aventurado en afirmar que <a href="http://www.hoy.es/deportes/futbol/liga-primera/201410/31/tebas-anuncia-2019-existira-20141031203923-rc.html" target="_blank" title="Hoy.es, 14/10/14: Tebas anuncia que en 2019/20 no existirá deuda en el fútbol español">en 2020 no habrá deuda con la Agencia Tributaria</a>. Por contra, José María Mollinedo, secretario general del Sindicato de Técnicos de Hacienda (GESTHA), estima que no será hasta el verano de 2021 cuando se puedan saldar estas obligaciones. "Se va en buena dirección, pero no tenemos aún claro el número de años que harían falta para saldar esa deuda. Al ritmo que llevamos, creo que puede que tarde unos siete años en resolverse, pero no se puede ser mucho más exigente", apunta.</p>

      <p>Conocer la deuda pública de cada club es tarea harto complicada, ya que los equipos pecan de ser poco transparentes en este sentido. No en vano, las sociedades anónimas deportivas están amparadas por el artículo 95 de la la Ley General Tributaria, según el cual no están obligadas a hacer públicos sus datos financieros y fiscales. Tan sólo tienen que presentar las cuentas anuales correspondientes a cada ejercicio fiscal.</p>

      <p style="text-align: center"><strong>Por ser el fútbol un negocio que genera tanto dinero, y al ser los recursos públicos uno de los pilares en los que se apoya este deporte, parece razonable reclamar una mayor transparencia tanto a los clubes como a la Administración. Por ello, desde desmanesdelfutbol.com puedes <a href="#sct-05-campaign" title="Participa con desmanes del futbol para solicitar transparencia en las cuentas públicas" class="goto">solicitar que el fútbol español sea menos opaco</a>.</strong></p>

    </div>

  </div>

  <div class="bl-sct-end wrap"></div>
</div>