<img class="post-head-image" src="./img/img_artc-4.jpg" alt="">

<div class="post-content">

  <div class="wrap">

    <h1 class="post-title">Fútbol de hormigón: más de<span class="fashion" data-hover="recorte">1.000 millones de euros</span> en obras en los últimos quince años</h1>

    <p class="team">
      <strong>25 de enero del 2015</strong>  
      <strong>Publicado en <a href="http://www.elconfidencial.com/deportes/futbol/2015-01-25/futbol-de-hormigon-mas-de-1-000-millones-de-euros-en-obras-en-los-ultimos-quince-anos_629344/" class="confi-inline" target="_blank">el Confidencial</a></strong> Compártelo: 
      <a class="fb-inline" target="_blank" href="http://www.facebook.com/sharer.php?u=http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}" target="_blank" title="Compártelo en Facebook">Compártelo en Facebook</a>
      <a class="tw-inline" target="_blank" href="https://twitter.com/intent/tweet?via=desmanesf&amp;text=Fútbol de hormigón: 1.000 millones de euros en obras en los últimos 15 años http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }} %23desmanesfútbol" title="Compártelo en twitter">Compártelo en twitter</a>
      <a class="mn-inline" target="_blank" href="http://meneame.net/submit.php?url=http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}&amp;text=Fútbol de hormigón: 1.000 millones de euros en obras en los últimos 15 años" title="Compártelo en twitter">Compártelo en twitter</a>
    </p>

    <div class="post-body">

      <p>Rueda el balón en la Nueva Condomina, el flamante estadio del Real Murcia.  Es 11 de octubre de 2006, día de la inauguración de un campo con capacidad para 31.179 espectadores. En el terreno de juego se miden la selección española y la argentina en un partido que sería recordado por la lesión del por entonces barcelonista Maxi Rodríguez debido al <a href="http://www.diariosdefutbol.com/2006/10/12/sobre-la-grave-lesion-de-maxi/" title="diariosdefutbol.com, 12/10/2006: Sobre la grave lesión de Maxi" target="_blank">mal estado del césped</a>.</p>

      <p>Más allá de la anécdota, fruto probablemente de la ansiedad por inaugurar la obra, la Nueva Condomina era todo un artificio urbanístico para un equipo que estaba en Segunda B cuando se ideó el proyecto. Una categoría a la que el club pimentonero ha vuelto esta temporada por un <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.elconfidencial.com%2Fdeportes%2Ffutbol%2Fsegunda-division%2F2014-08-07%2Fya-es-oficial-la-lfp-confirma-el-descenso-administrativo-del-real-murcia-a-segunda-b_173157%2F&sa=D&sntz=1&usg=AFQjCNGIL9LHhi2vbS2j0yoJsBk2hrxV6Q" title="El confidencial, 07/08/2014: Ya es oficial: la LFP confirma el descenso administrativo del Real Murcia a Segunda B" target="_blank">descenso administrativo</a>. No ha podido hacer frente a sus deudas. Hoy en día en el estadio murciano cabrían casi cinco veces los socios del club, que eran <a href="http://realmurcia.laverdad.es/noticias/201409/18/aficion-segunda-20140918013553-v.html" title="laverdad.es, 18/09/2014: La afición no es de Segunda B" target="_blank">6.784 en 2014</a>. Este caso es una muestra de las más claras de una historia que se repite por toda la geografía nacional: millones de euros gastados en proyectos mastodónticos y, cuando menos, poco proporcionados.</p>

      <p>Desde 1999, los clubes de fútbol que durante este tiempo han pasado por Primera y Segunda División gastaron más de 1.000 millones de euros -alrededor de 1.223 millones- en proyectos ya terminados. Así se desprende de los datos que ha recogido <a href="http://desmanesdelfutbol.com">desmanesdelfutbol.com</a> a partir de diversas fuentes que pueden consultarse en el mapa que acompaña este texto. Si sumamos las cantidades presupuestadas de las infraestructuras en obras y de las proyectadas actualmente, la cifra alcanza los 3.390 millones de euros. Solo en 2014, un total de 16 instalaciones se encontraban en medio de unos trabajos cuyo valor se estima en 2.152 millones de euros.</p>

      <p>Muchos de los proyectos de construcción o remodelación de estadios iban de la mano de candidaturas como la olímpica de Madrid -en sus <a href="http://www.elconfidencial.com/economia/2013-09-09/madrid-entierra-8-000-millones-de-euros-en-su-empeno-por-albergar-los-juegos_25668/" title="El Condifencial, 09/09/2013: Madrid entierra 8.000 millones de euros en su empeño por albergar los Juegos" target="_blank">tres ediciones frustradas</a>- o la denominada Ibérica, organizada entre España y Portugal <a href="http://www.elconfidencial.com/deportes/candidatura-iberica-mundial-fifa-2018-20101202-72225.html" title="El Confidencial, 2/12/2010: Villar a Zapatero: Una lástima presidente, hemos perdido" target="_blank">para intentar albergar el mundial de 2018</a>. El fracaso de esas aspiraciones tiró por tierra, por ejemplo, los anunciados proyectos de la ampliación de La Romareda en Zaragoza (donde también se pensó en construir un nuevo estadio de cero) o la reconversión del Nuevo José Zorrilla en el Valladolid Arena.</p>

      <p>La crisis, sin duda, también ha aplacado las ansias constructoras. Fue el caso del Nuevo Mestalla, del que solo se ha levantado un esqueleto de hormigón y que espera a ser finalizado, según las aspiraciones más optimistas, en 2019. La falta de liquidez asimismo dio carpetazo al proyecto del Nuevo Lluís Sitjar en Palma de Mallorca, una obra asociada a una recalificación de terrenos que nunca se llevó a término. Pero aun con dificultades económicas y sin Juegos Olímpicos de por medio, otros proyectos mastodónticos siguen adelante. </p>

      <p>Quizá el ejemplo más claro sea el del Estadio de La Peineta de Madrid, renombrado en su día como Estadio Olímpico pese a no haber visto jamás ni un aro de cerca. Así, a falta de albergar unos Juegos, será sede del Atlético de Madrid, previsiblemente en 2017. No en vano, el estadio, inaugurado en 1994 como campo de atletismo, se cerró una década más tarde para una remodelación que sigue esperando. Según el convenio alcanzado en 2009 por el Atlético de Madrid y el Ayuntamiento de la capital, en 2012 debería haberse hecho efectiva la mudanza del conjunto rojiblanco a este recinto y en 2015 deberían estar concluidas las obras, aunque su aspecto actual no deje intuir esta posibilidad.</p>

      <p>La Peineta es otro de los emblemas de ese fútbol que parece querer emular a la carrera por tener un aeropuerto que no hace tanto invadió a las ciudades españolas. En una especie de fiebre del oro por el mejor estadio, las directivas de los equipos de medio país quisieron algún día tener las gradas más vistosas, el aforo más desproporcionado o los vestuarios mejor equipados del planeta. Muchos de esos proyectos se pararon a tiempo, pero no todos corrieron la misma suerte.</p>

      <h2>Los vecinos defienden sus propios intereses</h2>

      <p>Existe algún caso en el que el proyecto de un club ha sido motivo de discordia entre los poderes municipales, la directiva del equipo y una parte de la ciudadanía cuando esta última ha visto amenazados sus intereses de forma más directa.</p>

      <p>Tras su ascenso en mayo de 2014, el Eibar presentó dos meses después un proyecto para aumentar el aforo de su estadio. El proyecto implicaba ampliar la tribuna norte para conseguir una capacidad de más de 6.000 espectadores. La idea se encontró con la oposición de los vecinos del barrio de Ipurua que habitaban las dos torres situadas enfrente de dicha tribuna, pues la remodelación implicaba que esa grada se acercara a sus viviendas, modificando así las vistas que desde las ventanas tenían hasta entonces sus habitantes.</p>

      <p>Al ser de titularidad pública, se necesitaba el visto bueno de los grupos municipales para empezar los trabajos. Aunque se presentaron propuestas alternativas para no tocar la tribuna norte, el club defendió su idea inicial y la misma fue aprobada por el Ayuntamiento guipuzcoano el 13 de noviembre del año pasado, con cierta tensión entre un grupo de aficionados eibarreses a favor del proyecto y los vecinos que se oponían al mismo.</p>

      <p><strong>El mapa permite analizar algunas de las construcciones faraónicas ejecutadas, planificadas o que quedaron a medio construir en los últimos quince años. Las cifras son aproximadas, obtenidas y contrastadas en las publicaciones de varias fuentes. Este listado es de elaboración propia y está abierto a completarse con nuevos registros.</strong></p>

    </div>

  </div>
</div>

  {% if seo is not defined %}
  <div id="map-wrap">

    <div id="map-main">
      <div id="tpl-year">
        <div class="tpl-year-main">Año <span class="tpl-year">2014</span>:</div>
        <h4><span id="numYear"></span> proyectos en desarrollo<br>gasto total: <span id="totYear"></span></h4>
        <p style="margin-bottom: 0; font-size: 0.8em; margin-top: 0.6em;">Pulse en el selector para cambiar de año</p>
      </div>

      <div id="tpl-year2">Pulsa sobre los nombres para más información</div>

      <div id="map-pop">
        <div id="map-pop-close">X</div>
        <div class="wrap-pop clearfix"></div>
      </div>

      <div id="map-pointers-wrap"></div>

      <div class="ftbl-map">
        <div class="ftbl-map-inn"></div>
        <div id="map-2">
          <div id="map-2-inn"></div>
        </div>
      </div>

      <div class="row wrap map-years">
        <div id="years" class="btn-group"> </div>
        <div class="btn-group">
          <div id="animaYears" class="btn btn-primary">play</div>
          <div class="btn toggleMapTable btn-primary">datos</div>
          <div class="btn showInfo btn-primary">?</div>
        </div>
      </div>
    </div>

  </div>
  <div id="datosOut" class="wrap" style="display: none;"><div class="btn toggleMapTable btn-primary">ver tabla de obras</div></div>
  <div id="ftbl-table" class="wrap" style="display: none;">
    <h4 style="font-size: 1.4em;margin-bottom: 0; padding-bottom: 0;">Principales obras de los equipos españoles desde el año 2000 hasta 2015:</h4>
    <p style="font-size: 0.9em; margin-bottom: 0.8em;">Pulse sobre las obras para acceder a su ficha con más ionformación y las cabeceras de la tabla para ordenar por los campos correspondientes.</p>
    <table class="table ftbl-table">
      <thead>
      <tr><th>equipo</th><th>concepto</th><th>inicio</th><th>final</th><th>gasto</th></tr>
      </thead><tbody>
      {% for data in imports['obras'] %}
        {% if data['equipo'] %}
          <tr data-idx="{{ loop.index0 }}">
            <td>{{ data['equipo'] }}</td>
            <td>{{ data['concepto'] }}</td>
            <td>{% if data['inicio'] %}{{ data['inicio'] }}{% else %}{{ data['planificado'] }}{% endif %}</td>
            <td>{{ data['final'] == '3000' ? '-' : data['final'] }}</td>
            <td>{{ data['gasto'] }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
    <div class="ftbl-table-ctrls">
      <a class="btn btn-primary" target="_blank" title="Descarga los datos en json" href="{{ base_url }}data/downs/obras.csv">CSV</a>
    </div>
  </div>
  <div id="ftbl-about" class="wrap" style="display: none;">
    <h4 style="font-size: 1.4em;padding-bottom: 0; margin-bottom: 0.2em;">Principales obras de los equipos españoles desde el año 2000 hasta 2015:</h4>
    <p style="font-size: 1em;">Para realizar este mapa se han recopilado los datos publicados en medios de comunicación o en anuncios oficiales del costes de las principales obras que los clubes de fútbol han llevado a cabo en los últimos 15 años. Se tienen en cuenta tanto las obras ya construidas como las que están todavía en proyecto o en fase de construcción.</p>
    <p style="font-size: 1em;">Por esto, el listado no ha de considerarse exhaustivo, y el cálculo de los costes es estimativo. Si quieres señalar una obra nueva o aportar nuevos datos, escribe a <a href="mailto:info@desmanesdelfutbol.com">info@desmanesdelfutbol.com</a></p>

    <div class="quienes">
      <h1 class="post-title"><a href="http://desmanesdelfutbol.com/" class="fashion">Desmanes del fútbol</a></h1>
      
      <h3>Coordinación:</h3>
      <div>Adrián Blanco <a href="https://twitter.com/AdrianBlancoR" target="_blank">@AdrianBlancoR</a></div>
      
      <h3>Redacción</h3>

      <div class="wk-col-l wk-col-50">
        <div>
          Marta Ley <a href="https://twitter.com/leymarta" target="_blank">@leymarta</a>
          <br>
          Gonzalo Prieto <a href="https://twitter.com/gonzalo_prieto" target="_blank">@gonzalo_prieto</a>
        </div>
      </div>

      <div class="wk-col-l wk-col-50">
        <div>
          Juan Calleja <a href="https://twitter.com/_juancalleja" target="_blank">@_juancalleja</a>
          <br>
          Joaquín Pi Yagüe <a href="https://twitter.com/jjoapi" target="_blank">@jjoapi</a>
        </div>
      </div>

      <h3>Gráficos y desarrollo web:</h3>
      <div>David Ruiz <a href="https://twitter.com/ruizfrontend" target="_blank">@ruizfrontend</a></div>
    </div>
  </div>
  <div class="post-content">
    <div class="bl-sct-end wrap"></div>
  </div>
  {% endif %}

</div>