<img class="post-head-image" src="./img/img_artc-3.jpg" alt="">

<div class="post-content">

  <div class="wrap">

    <h1 class="post-title">Comunidad Valenciana, una región <span class="fashion" data-hover="recorte">al servicio del fútbol</span> que aportó 594 millones</h1>

    <p class="team">
      <strong>29 de enero del 2015</strong>  
      <strong>Publicado en <a href="http://www.elconfidencial.com/deportes/futbol/2015-01-30/la-comunidad-valenciana-una-region-al-servicio-de-sus-ruinosos-equipos-de-futbol_640962/" class="confi-inline" target="_blank">el Confidencial</a></strong> Compártelo: 
      <a class="fb-inline" target="_blank" href="http://www.facebook.com/sharer.php?u=http://desmanesdelfutbol.com/enfoque-comunidad-valenciana/" title="Compártelo en Facebook">Compártelo en Facebook</a>
      <a class="tw-inline" target="_blank" href="https://twitter.com/intent/tweet?via=desmanesf&amp;text=Fútbol de hormigón: 1.000 millones de euros en obras en los últimos 15 años http://desmanesdelfutbol.com/enfoque-comunidad-valenciana/ %23desmanesfútbol" title="Compártelo en twitter">Compártelo en twitter</a>
      <a class="mn-inline" target="_blank" href="http://meneame.net/submit.php?url=http://desmanesdelfutbol.com/enfoque-comunidad-valenciana/&amp;text=Fútbol de hormigón: 1.000 millones de euros en obras en los últimos 15 años" title="Compártelo en twitter">Compártelo en twitter</a>
    </p>

    <div class="post-body">

      <p>El engranaje financiero del fútbol no acaba en la <a href="http://www.elconfidencial.com/deportes/futbol/2015-01-22/la-deuda-publica-del-futbol-738-5-millones-de-euros-que-no-se-pagarian-hasta-2021_627181/" title="El Confidencial, 22/01/2015: La deuda pública del fútbol, 738,5 millones de euros que no se pagarían hasta 2021" target="_blank"> deuda pública de 738 millones de euros</a>. Los contratos que los clubes firman con los gobiernos autonómicos son, cuando menos, otro aspecto cuestionable. Si hay una región que lidera la clasificación del apoyo financiero al fútbol es la Comunidad Valenciana. Un soporte económico, conocido, que asciende a más de <a href="https://docs.google.com/spreadsheets/d/1idRfvKOjuNdnrVLIwAD9g8RLmRh1_oc94GtpL5LpF8U/edit#gid=318142443" title="Listado de contratos públicos de la Comunidad Valenciana y equipos de la comunidad" target="_blank">594 millones de euros</a> para los equipos valencianos en la última década.</p>

      <p>Una cantidad que equivale al presupuesto del Consejo Superior de Investigaciones Científicas (CSIC) para este año 2015. Los fondos del organismo público en Ciencia más importante del país apenas superan los 600 millones de euros. Mientras la investigación científica a nivel nacional se ha tenido que apretar el cinturón, la Comunidad Valenciana firmó contratos legales, pero al menos cuestionables por la cantidad de ceros que suponían, con sus equipos de fútbol.</p>

      <p>Las mascotas de los clubes, los partidos amistosos con apenas telespectadores o la promoción del aeropuerto de Castellón, durante muchos años inexistente y que hace dos semanas <a href="http://elpais.com/elpais/2015/01/14/videos/1421255829_236681.html" title="El país, 14/01/2015: Despega el primer avión comercial del aeropuerto de Castellón" target="_blank">acogió el primer vuelo comercial</a>, han sido algunas de las excusas para financiar con dinero público los proyectos deportivos.</p>

      <p>Así lo demuestran los 524 millones de euros que la Generalitat Valenciana, a través de Radio Televisión Valenciana (RTVV), acordó pagar a los equipos de la comunidad, según desveló Esquerra Unida del País Valencià en la web <a href="http://www.eldesconfidencial.com/contratos-de-esponsorizacion-deportiva-aerocas-2006-2010/" title="El desconfidencial: Contratos de esponsorización deportiva Aerocas 2006-2010" target="_blank">eldesconfidencial.com</a>. Una televisión que el Ejecutivo autonómico, capitaneado por el Partido Popular, cerró el pasado año aludiendo problemas de déficit. A pesar de los problemas económicos que arrastraba el ente público, el Gobierno utilizó la plataforma televisiva para regar con billetes las arcas de los equipos.</p>

      <p>Bien es cierto que dichos contratos son legales, ya que en la mayoría de los casos los clubes suponen una plataforma de promoción para la región o de los que pueden obtener réditos. Los equipos de fútbol ceden sus derechos comerciales y televisivos para que una empresa pública los explote, ya sea mediante la retransmisión de partidos, el acuerdo comercial o la publicidad.</p>

      <p>En los contratos que se conocen, el club que más dinero recibió y mayor número de acuerdos firmó con el Gobierno regional es el Valencia, con más de 268 millones de euros entre 2003 y 2012. Una cantidad que representa una pequeña parte del dinero que ha recibido de la Generalitat. Le sigue el Villarreal con 255 millones ingresados.</p>

    </div>


    {% if seo is not defined %}
      <div class="" ng-app="valencia" ng-controller="valenciaController">

        <div id="ftblGraph1" class="clearfix">

          <h3>Contratos de la Comunidad Valenciana y sus equipos de fútbol</h3>

          <div class="g1-filters">
            <div class="g1-flt active">
              <h4 ng-click="status.equiposAct = !status.equiposAct">Equipo: 
                <a href="#" ng-click="data.filtrosAct.equipos = []" prevent-def ng-show="data.filtrosAct.equipos.length" title="Limpia los filtros">&#xf00d;</a>
                <a href="#" ng-hide="data.filtrosAct.equipos.length" title="Filtra los resultados">&#xf0b0;</a>
                <span style="font-size: 0.8em; font-weight: 100;">{[{ data.filtrosAct.equipos | arrayTostring }]}</span>
              </h4>
              <div class="g1-flt-to g1-flt-group clearfix" ng-show="status.equiposAct">
                <div ng-repeat="elm in data.filtros.equipos | orderBy" class="btn{[{ data.filtrosAct.equipos.indexOf(elm) != -1 ? ' act' : '' }]}"
                  ng-click="data.filtrosAct.equipos = elm"
                  data-val="{[{ elm }]}">{[{ elm }]}</div>
              </div>
            </div>
            <div class="g1-flt">
              <h4 ng-click="status.yearsAct = !status.yearsAct">Año: 
                <a href="#" ng-click="data.filtrosAct.years = []" prevent-def ng-show="data.filtrosAct.years.length" title="Limpia los filtros">&#xf00d;</a>
                <a href="#" ng-hide="data.filtrosAct.years.length" title="Filtra los resultados">&#xf0b0;</a>
                <span style="font-size: 0.8em; font-weight: 100;">{[{ data.filtrosAct.years | arrayTostring }]}</span>
              </h4>
              <div class="g1-flt-year g1-flt-group clearfix" ng-show="status.yearsAct">
                <div ng-repeat="elm in data.filtros.years | orderBy" class="btn{[{ data.filtrosAct.years.indexOf(elm) != -1 ? ' act' : '' }]}"
                  ng-click="data.filtrosAct.years.indexOf(elm) == -1 ? data.filtrosAct.years.push(elm) : data.filtrosAct.years.splice(data.filtrosAct.years.indexOf(elm),1)"
                  data-val="{[{ elm }]}">{[{ elm }]}</div>
              </div>
            </div>
            <div class="g1-flt">
              <h4 ng-click="status.fromAct = !status.fromAct">Empresa: 
                <a href="#" ng-click="data.filtrosAct.from = []" prevent-def ng-show="data.filtrosAct.from.length" title="Limpia los filtros">&#xf00d;</a>
                <a href="#" ng-hide="data.filtrosAct.from.length" title="Filtra los resultados">&#xf0b0;</a>
                <span style="font-size: 0.8em; font-weight: 100;">{[{ data.filtrosAct.from | arrayTostring }]}</span>
              </h4>
              <div class="g1-flt-de g1-flt-group clearfix" ng-show="status.fromAct">
                <div ng-repeat="elm in data.filtros.from | orderBy" class="btn{[{ data.filtrosAct.from.indexOf(elm) != -1 ? ' act' : '' }]}"
                  ng-click="data.filtrosAct.from.indexOf(elm) == -1 ? data.filtrosAct.from.push(elm) : data.filtrosAct.from.splice(data.filtrosAct.from.indexOf(elm),1)"
                  data-val="{[{ elm }]}">{[{ elm }]}</div>
              </div>
            </div>
            <div class="g1-flt">
              <h4 ng-click="status.motivoAct = !status.motivoAct">Motivo: 
                <a href="#" ng-click="data.filtrosAct.motivo = []" prevent-def ng-show="data.filtrosAct.motivo.length" title="Limpia los filtros">&#xf00d;</a>
                <a href="#" ng-hide="data.filtrosAct.motivo.length" title="Filtra los resultados">&#xf0b0;</a>
                <span style="font-size: 0.8em; font-weight: 100;">{[{ data.filtrosAct.motivo | arrayTostring }]}</span>
              </h4>
              <div class="g1-flt-mot g1-flt-group clearfix" ng-show="status.motivoAct">
                <div ng-repeat="elm in data.filtros.motivo | orderBy"
                  class="btn{[{ data.filtrosAct.motivo.indexOf(elm) != -1 ? ' act' : '' }]}"
                  ng-click="data.filtrosAct.motivo.indexOf(elm) == -1 ? data.filtrosAct.motivo.push(elm) : data.filtrosAct.motivo.splice(data.filtrosAct.motivo.indexOf(elm),1)"
                  data-val="{[{ elm }]}">{[{ elm }]}</div>
              </div>
            </div>
          </div>

          <div class="g1-content">
            <div class="total-div">Total: 
              <span class="total" style="color: #DFDF00">{[{ status.total | toEuros }]}</span>
              <div class="wk-col-r">
                <span style="font-size: 0.8em; font-weight: 100;text-transform: lowercase; margin-right: 5px;">ordenar por:</span>
                <a href="#" class="{[{ status.sortBy == 'Cantidadok' ? 'act' : '' }]}" ng-click="status.sortBy = 'Cantidadok'">cantidad</a>
                <a href="#" class="{[{ status.sortBy == 'yearIni' ? 'act' : '' }]}" ng-click="status.sortBy = 'yearIni'">fecha</a>
              </div>
            </div>
            <div class="g1-content-wrap">
              <div ng-repeat="elm in data.filtered | orderBy : status.sortBy : true" class="elm clearfix elm-{[{ $index }]}">
                <div class="elm-hid"><a target="_blank" href="{[{ elm['Link'] }]}">{[{ elm['Contrato'] }]}</a></div>
                <div class="elm-inn" style="width: {[{ elm['width'] }]}%"></div>
                <div class="elm-main" style="width: {[{ 100 - elm['width'] }]}%">
                  <p class="elm-cant">{[{ elm['Cantidadok'] | toEuros }]}</p>
                  <div class="elm-txt">{[{ elm['yearIni'] }]}/{[{ elm['yearEnd'] }]} - {[{ elm['De'] }]} -> {[{ elm['A'] }]}: </div>
                  </div>
              </div>
            </div>

          </div>
          <div style="padding: 0.6em 0.8em 0.5em 0.8em; border: 1px solid #ccc; border-top: 0; clear: both;">Selecciones uno o más filtros. Iva incluido en todas las cantidades.</div>
        </div>
      </div>
    {% endif %}

    <div class="post-body">
      <p>Valencia y Villarreal son los equipos que presentan las cifras más abultadas, pero no los únicos. Levante, Hércules, Elche o Castellón también participaron en el reparto de contratos. Unos acuerdos que, aunque amparados por la Ley, son más que cuestionables debido a la situación financiera que atravesaba, y atraviesa, tanto la Administración pública como muchos valencianos.</p>

      <p>Otro de los patrocinios, que superó los 21 millones de euros, es el <a href="http://www.eldesconfidencial.com/contratos-de-esponsorizacion-deportiva-aerocas-2006-2010/" title="El desconfidencial: Contratos de esponsorización deportiva Aerocas 2006-2010" target="_blank">acuerdo para promocionar el aeropuerto de Castellón</a>, entonces en construcción. Los clubes de la provincia, como el Villarreal y el Castellón, fueron los principales beneficiados de una de las obras faraónicas de la Comunidad Valenciana, que publicitaron en sus camisetas.</p>

      <p>Además de acordar contratos por explotar las mascotas de los clubes o incluso por retransmitir partidos amistosos con paupérrimas cifras de audiencia, también utilizaron a los clubes como plataforma publicitaria de otras empresas públicas. Equipos como Levante, Hércules o Elche acordaron pagos a cambio de patrocinios de dos empresas que hoy atraviesan situaciones parejas. Una de ellas, <a href="http://www.ciudaddelaluz.com/ES" title="Página web de Ciudad de la Luz" target="_blank">Ciudad de la Luz</a>, del sector del cine, atraviesa graves problemas económicos. Mientras que la otra, <a href="http://www.sptcv.net/" title="Página web de la Sociedad de Proyectos Temáticos de la Comunidad Valenciana" target="_blank">Sociedad de Proyectos Temáticos de la Comunidad Valenciana</a>, se encuentra en proceso de liquidación.</p>

      <p>Todas estas cifras son accesibles gracias a una iniciativa que inició hace unos años Esquerra Unida de Valencia. Ésta consiste en publicar todos los documentos de contratos clasificados a los que tienen acceso en el portal <a href="http://www.eldesconfidencial.com/" title="El desconfidencial" target="_blank">El Desconfidencial</a>.  Esto no quiere decir que sólo la Comunidad Valenciana desarrolle estas prácticas; sino que es la única en la que han salido a la luz algunos de los contratos que el Ejecutivo autonómico firmó con los clubes.</p>

    </div>

  </div>

  <div class="bl-sct-end wrap"></div>
</div>