{# <img class="post-head-image" src="./img/img_artc-3.jpg" alt=""> #}

<div class="post-content">

  <div class="wrap">
    <h1 class="post-title"><span class="fashion" data-hover="recorte">Solicita la deuda pública</span> de los clubes del fútbol español</h1>

    <p class="team">
      <strong>22 de enero del 2015</strong> Compartelo: 
      <a class="fb-inline" target="_blank" href="http://www.facebook.com/sharer.php?u=http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}" target="_blank" title="Compartelo en Facebook">Compartelo en Facebook</a>
      <a class="tw-inline" target="_blank" href="https://twitter.com/intent/tweet?via=desmanesdelfutbol&amp;text=Las cifras de la deuda: diez veces el recorte en becas http://desmanesdelfutbol.com{{ imports['seoInfo'][template]['url'] }}" title="Compartelo en twitter">Compartelo en twitter</a>
    </p>

    <div class="post-body">
      <p>Una de los barreras más difíciles de sortear, a la hora de solicitar datos a la Administración, es la falta de transparencia. Algunos equipos de fútbol son reticentes a facilitar o publicar sus cuentas, así como la deuda pública que mantienen con la Agencia Tributaria y Seguridad Social y las subvenciones o contratos que firman con los gobiernos regionales o locales.</p>

      <p>La Liga, como organización, tampoco ofrece  estos datos. Por parte de la Administración, el Consejo Superior de Deportes (CSD) es el único que aporta información sobre la deuda pública, pero solo publica la cantidad total, sin detallar la deuda de cada equipo. La respuesta de la Agencia Tributaria y de la Seguridad Social es también negativa. Ambos organismos se amparan en que dichos datos no son de acceso público debido a leyes de protección de datos.</p>

      <p>En definitiva, las cuentas de la deuda y del dinero público del fútbol siguen sin estar claras. Los clubes de Primera y Segunda tampoco promueven una mayor transparencia y son entidades opacas en este sentido.</p>

      <p>Desde el pasado 10 de diciembre, con la entrada en vigor de la nueva <a href="http://www.boe.es/boe/dias/2013/12/10/pdfs/BOE-A-2013-12887.pdf" title="PDF de la ley de transparencia" target="_blank">ley de Transparencia</a>, el ciudadano tiene una herramienta más para solicitar información a la Administración. Además, las entidades privadas que perciban en un año ayudas públicas superiores a 100.000 euros, están obligadas a presentar sus cuentas.</p>

      <p>De esta forma, esta ley ofrece un instrumento para contribuir a conseguir un fútbol menos opaco, donde las cuentas de los equipos con la Administración sean de dominio público y estén auditadas.</p>

      <p style="text-align: center;"><strong>Únete a la petición colectiva para obtener la deuda pública y desglosada de cada equipo, así como para acceder a los contratos que hayan firmado los clubes con la Administración, o crea un tweet en el que muestres tu interés por un fútbol más transparente.</strong></p>
    </div>

    {% if seo is not defined %}
      <div id="peticion" class="clearfix">
        <input type="text" id="frm-name" placeholder="tu nombre">
        <div class="form-combo">
          <select id="frm-doc"><option value="dni">DNI</option><option value="pasaporte">pasaporte</option></select>
          <div class="frm-num-div"><input type="text" id="frm-num" style="height: 22px!important;" placeholder="número del documento"></div>
        </div>
        <input type="text" id="frm-mail" placeholder="Dirección de mail">

        <p>Estimado ,</p>

        <p>Me dirijo a ustedes con arreglo a la ley 19/2013, de 9 de diciembre, de Transparencia, Acceso a la Información Pública y Buen Gobierno.</p>

        <p>Quisiera conocer los datos de deuda pública que cada equipo de fútbol profesional español ha contraído con la Administración desde el año 2000 hasta la actualidad. Estoy interesado en conocer la deuda que tiene cada equipo con la Agencia Tributaria y con la Seguridad Social, así como su evolución a lo largo de los años desde que ésta se generó.</p>

        <p>Además, quisiera conocer cuáles han sido las subvenciones públicas otorgadas por la administración a cada equipo de fútbol profesional en el período de tiempo referenciado.</p>

        <p>Me gustaría, si es posible, obtener la información en un formato reutilizable como Excel o csv. En caso de que no sea posible, en cualquier otro formato.</p>

        <p>Quedo a la espera de respuesta.</p>

        <p>Muchas gracias.</p>

        <p>Un saludo cordial</p>
      </div>
      <a href="#" id="sendForm" class="btn btn-active wk-col-r" style="margin-right: 100px;">Enviar</a><a href="#" id="infoForm" class="btn btn-active wk-col-r" style="margin-right: 10px;">¿Tienes dudas?</a>
      <div id="errorForm" style="display: none;"></div>
      <div class="info" id="form-more" style="font-size: 0.7em; margin: 0 2em; line-height: 0.9em;clear: both;padding-top: 3em;display: none;">
        <p class="small">Estos datos son opcionales y no se publicarán. Serán utilizados para presentar una petición conjunta a través del Portal de Transparencia del Gobierno español que solicite una mayor transparencia del fútbol español, así como la publicación de la deuda pública de los clubes de fútbol. </p>
        <p>Además, utilizaremos tu email para ponernos en contacto contigo una vez obtenidos los resultados del proyecto.</p>
        <p>En caso que nos facilite tus datos, estos serán tratados conforme a la normativa europea y estatal de protección de datos personales con la única finalidad establecida e inserta en el formulario. </p>
        <p>Para ejercitar los derechos de acceso, rectificación, cancelación y oposición puede enviar su petición al correo electrónico info at desmanesdelfutbol.com</p>
      </div>


      <div class="wrap clearfix" id="twt-campaign">

      <div class="twt-campaign-left">
        <h4>Solicita a los equipos que declaren su deuda pública:</h4>
        <div class="cmpg-list-ok cmpg-list-ok-1">
          {% set count = 0 %}
          {% for item in imports['deuda'] %}
            {% if item['Club'] and item['foto'] and item['twitter'] != 'fcbfilial' %}
              {% set count = count + 1 %}
              <div data-tw="{{item['twitter']}}" class="cmpg-club-row">
                <img src="./img/equipos/{{ item['foto']|replace({'.png': '.jpg'}) }}" alt="Escudo del {{ item['fullName'] }}">
                <div class="cmpg-club-hid">
                  <h3>{{ item['fullName'] }}</h3>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <h4>Solicita a la Administración que revele la deuda pública de los clubes de fútbol:</h4>
        <div class="cmpg-list-ok cmpg-list-ok-2">
          <div data-tw="deportegob" data-dbt="0€" class="cmpg-admin-row">
            <img src="./img/equipos/deportegob.jpg" alt="Escudo del Athletic Club">
            <div class="cmpg-club-hid">
              <h3>Consejo Superior de Deportes</h3>
            </div>
          </div>
          <div data-tw="Haciendayaapp" data-dbt="0€" class="cmpg-admin-row">
            <img src="./img/equipos/Haciendayaapp.jpg" alt="Escudo del Athletic Club">
            <div class="cmpg-club-hid">
              <h3>Hacienda</h3>
            </div>
          </div>
          <div data-tw="info_TGSS" data-dbt="0€" class="cmpg-admin-row">
            <img src="./img/equipos/info_TGSS.jpg" alt="Escudo del Athletic Club">
            <div class="cmpg-club-hid">
              <h3>Seguridad Social<br></h3>
            </div>
          </div>
        </div>

      </div>

      <div class="twt-campaign-right">
        <form id="form-twt" action="">
          <div id="formInn" class="formInn">
            Solicito como <select id="frm-kind"><option value="aficionado">aficionado</option><option value="socio">socio</option><option value="ciudadano">ciudadano</option></select> que <span id="twtxt-team">[Selecciona tu equipo]</span> publique la deuda contraída con la Administración Pública #DesmanesFútbol</div>
        </form>
        <p class="send-butt">Configura tu tweet, selecciona tu equipo y <a class="footer-twitter btn" target="_blank" href="https://twitter.com/intent/tweet?button_hashtag=desmanesfútbol&amp;via=deudaf&amp;text=Solicito a @deportegob que publique la deuda de cada equipo de @LaLiga por un deporte transparente #desmanesfútbol">Twittealo</a></p>
        <p><strong>Pregunta a la Administración pública</strong></p>
        <form id="form-twt2" action="">
          <div id="formInn2" class="formInn">
            Solicito como <select id="frm-kind2"><option value="aficionado">aficionado</option><option value="socio">socio</option><option value="ciudadano">ciudadano</option></select> que <div id="frm-ss">[Seleccione adminitración]</div> publique la deuda pública de cada uno de los equipos de @LaLiga #DesmanesFútbol</div>
        </form>
        <p class="send-butt2"><a class="footer-twitter2 btn" target="_blank" href="https://twitter.com/intent/tweet?button_hashtag=desmanesfútbol&amp;via=deudaf&amp;text=Solicito a publique su deuda pública y la del resto de clubes de @LaLiga #desmanesfútbol">Twittealo</a></p>
        <p>Solicita a la Administración que revele la deuda pública de los clubes de fútbol.</p>
      </div>

    </div>
  {% endif %}
  
  <div class="bl-sct-end wrap"></div>
</div>