<div class="post-content">

  <div class="wrap">

    <div class="wrap post-content" id="main-campaign">
      <h1 class="post-title">Acerca de</h1>

      <p><a href="http://desmanesdelfutbol.com" target="_blank">#desmanesfútbol</a> es un proyecto que investiga algunas operaciones económicas realizadas  con fondos públicos por los equipos de fútbol profesional español durante los últimos 15 años. Diferentes contenidos, múltiples enfoques, pero una idea común: auditar la estrecha relación entre el fútbol y el dinero público.</p>

      <p>Este trabajo surge en el marco del <a href="http://medialab-prado.es/article/iitallerdeperiodismodedatossiguiendoelrastrodeldineropublico" target="_blank">‘II Taller de Periodismo de Datos: Siguiendo el rastro del dinero público’</a> organizado por <a href="http://medialab-prado.es/" target="_blank" title="Página web de Medialab Prado">Medialab-Prado</a>. Ocho fueron las ideas seleccionados para crear equipos de trabajo en torno a ellas y desarrollarlas entre octubre y diciembre de 2014. Durante este período la idea original “La deuda pública del fútbol” amplió su espectro para cubrir las operaciones realizadas por el fútbol con dinero público. A continuación, un resumen de las jornadas:</p>

      <div class="video-container" style="margin-bottom: 1em;">
        <iframe src="//player.vimeo.com/video/116968626" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/116968626">Periodismo de Datos. Siguiendo en rastro del dinero público</a> from <a href="http://vimeo.com/medprado">Medialab-Prado</a> on <a href="https://vimeo.com">Vimeo</a>.</p> <p>Segunda edici&oacute;n de este taller de producci&oacute;n impulsado por el grupo de periodismo de datos de Medialab Prado. Celebrado durante los fines de semana del 24 al 26 de octubre y del 12 al 14 de diciembre de 2014, cont&oacute; con el asesoramiento y apoyo de expertos internacionales y nacionales como Andrew Lehren, editor de proyectos del The New York Times; Nicolas Kayser-Bril, co-fundador de Journalism++; Ben Welsh, periodista de datos en Los Angeles Times; Mariano Zafra, infografista multimedia en El Pa&iacute;s; y el equipo de periodismo de datos de El Confidencial compuesto por Daniele Grasso, Jes&uacute;s Escudero y Pablo Medina. <br /> El taller fue coordinado por Mar Cabra y Adolfo Ant&oacute;n Bravo.</p>
      </div>

      <p>En este taller, <a href="http://desmanesdelfutbol.com" target="_blank">#desmanesfútbol</a> recibió el reconocimiento como mejor proyecto. La iniciativa surgió con el objetivo de revelar la deuda pública que ha contraído cada equipo profesional con la Administración. A lo largo de la  investigación queda patente la falta de transparencia a la hora de facilitar datos. Algunos clubes, así como la Administración pública -Consejo Superior de Deportes, Agencia Tributaria o Seguridad Social, entre otros- son reticentes a ofrecer información sobre la deuda y la financiación pública del fútbol.</p>

      <p>De esta forma, y ante la ausencia de datos, el enfoque se amplió para cubrir los relaciones de la Política con el fútbol, los contratos millonarios firmados por los gobiernos regionales o las obras faraónicas de estadios o instalaciones deportivas financiadas con dinero público.</p>

      <p>El negocio del fútbol mueve al año miles de millones de euros. Cada temporada los equipos de Primera y Segunda división anuncian fichajes millonarios, la construcción de nuevos estadios de fútbol o de ciudades deportivas, y los sueldos de los futbolistas de primer nivel son estratosféricos.</p>

      <p>Por ser un negocio que genera tanto dinero, y al ser el dinero público uno de los pilares en los que se apoya, parece razonable reclamar una mayor transparencia tanto a los equipos de fútbol como a la Administración Pública. Por ello, a través de desmanesdelfutbol.com puedes solicitar que el fútbol español sea menos opaco.</p>

      <p style="margin-bottom: 3em;">Para cualquier duda o sugerencia escribe a: <a target="_blank" href="mailto:info@desmanesdelfutbol.com">info@desmanesdelfutbol.com</a></p>

      <div class="quienes">
        <h1 class="post-title">¿Quiénes somos?</h1>
        
        <div class="bl-sct-end wrap"></div>

        <h3>Coordinación:</h3>
        <div>Adrián Blanco <a href="https://twitter.com/AdrianBlancoR" target="_blank">@AdrianBlancoR</a></div>
        
        <h3>Redacción</h3>

        <div class="wk-col-l wk-col-50">
          <div>Marta Ley <a href="https://twitter.com/leymarta" target="_blank">@leymarta</a></div>
          <div>Gonzalo Prieto <a href="https://twitter.com/gonzalo_prieto" target="_blank">@gonzalo_prieto</a></div>
        </div>

        <div class="wk-col-l wk-col-50">
          <div>Juan Calleja <a href="https://twitter.com/_juancalleja" target="_blank">@_juancalleja</a></div>
          <div>Joaquín Pi Yagüe <a href="https://twitter.com/jjoapi" target="_blank">@jjoapi</a></div>
        </div>

        <h3>Gráficos y desarrollo web:</h3>
        <div>David Ruiz <a href="https://twitter.com/ruizfrontend" target="_blank">@ruizfrontend</a></div>

        <h3>Diseño:</h3>
        <div>Diego Pontones <a href="https://twitter.com/DiegoPontone" target="_blank">@DiegoPontone</a></div>

        <h3>Agradecimientos:</h3>
        
        <div>MediaLab-Prado</div>
        <div>El Confidencial</div>
        <div><a href="http://www.lne.es/blogs/el-blog-de-roberto-bayon/" target="_blank">Roberto Bayón</a>, Ximena Villagrán, David Flores</div>
        <div>Mar Cabra, Adolfo Antón Bravo, Federación de Accionistas y Socios del Fútbol Español, GESTHA.</div>
      </div>
    </div>
  </div>

  <div class="bl-sct-end wrap" style="margin-bottom: 2em;"></div>
  <div class="wrap" style="text-align: right;">
    <div class="foot-link">Los desmanes del fútbol
    <a class="tw-inline" target="_blank" href="https://twitter.com/desmanesf" style="text-decoration: none;
line-height: 5em;" title="Compártelo en twitter">Compártelo en twitter</a><br><span class="small" style="font-size: 0.8em;">2015 Ⓒ desmanesdelfutbol.com</span></div>
  </div>
</div>