  {# drawing every autoloader templates #}
{% for section in sectionsLoader %}

  {% for template in section['sections'] %}

    {% if imports['seoInfo'][template] is defined %}
      {% set urlSect = imports['seoInfo'][template]['url'] %}
    {% else %}
      {% set urlSect = null %}
    {% endif %}

    <article id="sct-{{ template }}"
      class="bl-sct{% if template == seoData['name'] %} sct-act{% endif %}"
      {% if urlSect %}data-url="{{ imports['seoInfo'][template]['url'] }}"{% endif %}>

      {% include section['url'] ~ '/' ~ template ~ '.html.twig'%}

    </article>

  {% endfor %}

{% endfor %}