
{% if seo is not defined %}
<nav id="fbManu">
  <ul class="nav wrap">
    <li class="ini"><a href="#head">Los desmanes del fútbol</a></li>
    <li><a href="#sct-01-politica">En el parlamento</a></li>
    <li><a href="#sct-02-cifras">Deuda Pública</a></li>
    <li><a href="#sct-03-hormigon">Las obras</a></li>
    <li><a href="#sct-04-valencia">C. Valenciana</a></li>
    <li><a href="#sct-05-campaign" class="showFooter2">Participa</a></li>
    <li><a href="http://desmanesdelfutbol.com/blog/">Blog</a></li>
    <li class="extra-top"><a href="#sct-06-equpo" class="showFooter nav-hide icobutt icobutt-about">acerca de</a></li>
  </ul>
  <div class="nav2">
    <a href="#" id="closeMenu" class="icobutt icobutt-close-menu">Menu</a>
    <a href="#sct-06-equpo" class="showFooter icobutt icobutt-about">Acerca de</a>
  </div>
</nav>
{% else %}
<nav id="fbManu">
  <ul class="nav wrap">
    <li><a href="http://desmanesdelfutbol.com/el-futbol-en-la-politica/">En el parlamento</a></li>
    <li><a href="http://desmanesdelfutbol.com/deuda-publica/">Deuda Pública</a></li>
    <li><a href="http://desmanesdelfutbol.com/enfoque-comunidad-valenciana/">C. Valenciana</a></li>
    <li><a href="http://desmanesdelfutbol.com/futbol-de-hormigon/">obras</a></li>
    <li><a href="http://desmanesdelfutbol.com/peticion-transparencia-futbol/">Participa</a></li>
    <li><a href="http://desmanesdelfutbol.com/blog/">Blog</a></li>
    <li><a href="http://desmanesdelfutbol.com/acerca-de/">acerca de</a></li>
  </ul>
</nav>
{% endif %}

<header id="head">

  <div id="youtubeWrap">
    <div id="youtubeWrap2">
      <iframe src="//www.youtube.com/embed/YfP9MAFG4pM?rel=0&amp;controls=0&amp;autoplay=1&amp;loop=1&amp;playlist=YfP9MAFG4pM" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
    
  <div id="headWrap"><div class="wrap">
    <div class="head-block head1" style="display: none">“542 millones de euros resolverían todos los debates que tenemos de becas, educación y ayudas a terceros, que quedarían resueltos <div class="fashion">si el fútbol pagara</div> sus deudas”.<small>Manuel Pezzi, Portavoz socialista de Deportes en el Congreso.</small></div>
    <div class="head-block head2" style="display: none">19 equipos de Primera y Segunda mantienen deudas aplazadas con la Administración pública, lo que supone un total de <div class="fashion">63 acuerdos de aplazamiento de pago</div> hasta el año 2020.</div>
    <div class="head-block head3" style="display: none">“El problema que ha habido es que los equipos han contado durante mucho tiempo con una <div class="fashion">patente de corso para no pagar esa deuda”. </div><small>José María Gay de Liébana, experto en las finanzas de las principales ligas europeas.</small></div>
    <div class="head-block head4" style="display: none">Hay <div class="fashion">27 equipos</div> de Primera, Segunda y Segunda B en proceso concursal.</div>
    <div class="head-block head5">Los <div class="fashion">desmanes</div> del fútbol</div>
  </div></div>

</header>

{% if seo is not defined %}
<div id="headBottom"><div class="wrap">
  <p style="font-size: 1.4em;">La deuda pública acumulada entre los clubes de primera y de segunda división del fútbol español en la temporada 2012/2103 era de más de 738,5 millones de euros. <span>hacemos un recorrido por los desmanes económicos cometidos en el deporte rey durante los últimos quince años.</span> </p>
  <p class="team"><strong>un proyecto de:</strong> Adrián Blanco <a href="https://twitter.com/AdrianBlancoR" class="tw-inline" target="_blank">Síguele en Twitter</a> • Juan Calleja <a href="https://twitter.com/_juancalleja" class="tw-inline" target="_blank">Síguele en Twitter</a> • Marta Ley <a href="https://twitter.com/leymarta" class="tw-inline" target="_blank">Síguele en Twitter</a> • Joaquín Pi Yagüe <a href="https://twitter.com/jjoapi" class="tw-inline" target="_blank">Síguele en Twitter</a> • Gonzalo Prieto <a href="https://twitter.com/gonzalo_prieto" class="tw-inline" target="_blank">Síguele en Twitter</a> • David Ruiz <a href="https://twitter.com/ruizfrontend" class="tw-inline" target="_blank">Síguele en Twitter</a> • Diego Pontones <a href="https://twitter.com/DiegoPontone" class="tw-inline" target="_blank">Síguele en Twitter</a>'</p>

</div></div>

<div id="politcs">
  <div id="closePolitics">X</div>
  <p style="text-align: center;">desmanesdelfútbol.com utiliza cookies para que tengas la mejor experiencia de navegación.<br>Si sigues navegando entendemos que aceptas nuestra <a href="#" id="showCookies">política de cookies</a>.</p>
  <div id="cookies" style="display: none;">
    <p>En cumplimiento con el deber de información recogido en <a href="http://noticias.juridicas.com/base_datos/Admin/l34-2002.t2.html#a10">artículo 10</a> de la <a href="http://noticias.juridicas.com/base_datos/Admin/l34-2002.html">Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico</a> a continuación se declara DESMANESDELFUTBOL.COM como un sitio web gestionado por Adrián Blanco, Juan Calleja, Marta Ley, Joaquín Pi Yagüe, Gonzalo Prieto, David Ruiz y Diego Pontones (en adelante, “los prestadores”) con domicilio en Madrid.</p>
    <h2>Responsabilidad</h2>
    <p>Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra disposición legal que fuera de aplicación.</p>
    <p>El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web y por la falta de disponibilidad (caídas) del sitio el cual efectuará además paradas periódicas por mantenimientos técnicos. Además, el prestador se reserva el derecho a modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.</p>
    <h2>Uso de Cookies</h2>
    <p>El sitio web del prestador puede utilizar cookies (pequeños archivos de texto que el servidor envía al ordenador de quien accede a la página). Se trata de una técnica usada de manera habitual en Internet para llevar a cabo determinadas funciones que son consideradas imprescindibles para el correcto funcionamiento y visualización del sitio. </p>
    <p>Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal con la única finalidad de hacer más eficaz su transmisión ulterior y desaparecen al terminar la sesión del usuario. En ningún caso se utilizarán las cookies para recoger información de carácter personal.</p>
    <p>Desde el sitio web del cliente es posible que se redirija a contenidos de terceros sitios web. Dado que el prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web, éste no asume ningún tipo de responsabilidad respecto a dichos contenidos. </p>
    <p>En todo caso, el prestador se compromete a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión.</p>
    <h2>Protección de datos personales</h2>
    <p>El prestador cumple con la normativa española de protección de datos de carácter personal, y garantiza el cumplimiento íntegro de las obligaciones dispuestas la <a href="http://noticias.juridicas.com/base_datos/Admin/lo15-1999.html">Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD)</a>, el <a href="http://noticias.juridicas.com/base_datos/Admin/rd1720-2007.html">Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la LOPD</a> y demás normativa vigente en cada momento, y vela por garantizar un correcto uso y tratamiento de los datos personales del usuario.</p>
    <h2>Política anti-spam</h2>
    <p>Los prestadores se declaran completamente en contra del envío de comunicaciones comerciales no solicitadas y a cualquier tipo de conducta o manifestación conocida como “spam”, asimismo se declara comprometido con la lucha contra este tipo de prácticas abusivas.</p>
    <p>Por tanto, los prestadores garantizan al usuario a que bajo ningún concepto los datos personales recogidos en el sitio web serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero.</p>
    <p>Por las mismas razones, el proceso de registro no debe ser utilizado para inscribir direcciones de correo de personas ajenas sin el consentimiento expreso de las personas afectadas. DESMANESDELFUTBOL.COM implementa como contramedida a estas prácticas una lista de correo de tipo double opt-in que necesita la confirmación explicita por parte del titular de la cuenta de correo electrónico indicada como dirección de suscripción, antes de recibir comunicaciones por correo electrónico.</p>
    <p>En el caso de que aun así un usuario reciba comunicaciones de este sitio web sin haberse registrado, o sin haber dado su consentimiento expreso a dicho registro, puede cancelar la suscripción desde los enlaces que se proporcionan en la propia comunicación.</p>
    <p>Además, el usuario puede ponerse en contacto con nosotros a través del formulario de contacto que se mantiene en el sitio web, tanto para comunicar lo sucedido como para solicitar la eliminación inmediata de sus datos de nuestro sistema.</p>
    <h2>Alojamiento de datos</h2>
    <p>Por razones técnicas y de calidad de servicio, la página se encuentra alojada en los servidores de la empresa CDMON (<a href="https://www.cdmon.com/cas/empresa/legal/aviso-legal/">política de privacidad</a>). </p>
    <h2>Google Analytics</h2>
    <p><a href="http://www.google.com/intl/es/analytics/">Google Analytics</a> es un servicio análisis de datos estadísticas prestado por la empresa Google (<a href="http://www.google.com/policies/privacy/">política de privacidad</a>). Geografía Infinita utiliza este servicio para realizar un seguimiento de las estadísticas de uso del mismo.</p>
    <p>Google Analytics utiliza cookies para ayudar al sitio web a analizar datos estadísticos sobre el uso del mismo (número de visitas totales, páginas más vistas, etc.). La información que genera la cookie (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.</p>
    <p>Google usará esta información por cuenta nuestra con el propósito de generar información estadísticas sobre el uso de DESMANESDELFUTBOL.COM, Google no asociará su dirección IP con ningún otro dato del que disponga Google. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google.</p>
    <p>Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, de hacerlo, limitará la plena funcionabilidad de DESMANESDELFUTBOL.COM. Al utilizar este sitio web, da su consentimiento al tratamiento de información por Google en la forma y para los fines arriba indicados.</p>
    <h2>Consentimiento al tratamiento de los datos personales del usuario</h2>
    <p>En el marco de sus actividades, DESMANESDELFUTBOL.COM dispone de la posibilidad de registro de usuarios para el envío de comunicaciones por correo electrónico, efectuar comentarios en el blog y enviar mensajes a través del formulario de contacto.</p>
    <p>El usuario mediante los actos de suscripción al blog, la realización comentarios o el formulario de contacto estará dando su consentimiento expreso al tratamiento de los personales proporcionados según lo dispuesto en el <a href="http://noticias.juridicas.com/base_datos/Admin/lo15-1999.t2.html#a6">artículo 6 de la LOPD</a>. El usuario podrá ejercer sus derechos en los términos dispuestos por el <a href="http://noticias.juridicas.com/base_datos/Admin/lo15-1999.t2.html#a5">artículo 5 de la LOPD</a>.</p>
    <p>Estos mismos actos implican asimismo el consentimiento expreso del usuario a la transferencia internacional de datos que se produce en términos de la LOPD debido a la ubicación física de las instalaciones de los proveedores arriba mencionados.</p>
    <p>Los datos de carácter personal solicitados en estas actividades, quedarán incorporados a un fichero cuya finalidad es la comunicación de novedades relativas al sitio web de DESMANESDELFUTBOL.COM actuando como responsable del fichero los prestadores. Los campos marcados con asterisco son de cumplimentación obligatoria, siendo imposible realizar la finalidad expresada si no se aportan estos datos. Queda igualmente informado de la posibilidad de ejercitar los derechos que se indican en el apartado relativo a los Derechos del usuario.</p>
    <h2>Derechos del usuario</h2>
    <p>De conformidad con lo establecido en el artículo 5 de la LOPD, se informa al usuario que la finalidad exclusiva de la base de datos de registro es el envío de información sobre novedades relacionadas con el sitio web DESMANESDELFUTBOL.COM. Únicamente los titulares tendrán acceso a sus datos, y bajo ningún concepto, estos datos serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero.</p>
    <p>De acuerdo con lo dispuesto en la LOPD, el usuario en cualquier momento podrá ejercitar sus derechos de acceso, rectificación, cancelación, y oposición ante el prestador. Para facilitar el ejercicio de estos derechos se facilita en todas las comunicaciones un enlace de solicitud de baja que redundará en la eliminación inmediata de los datos personales del usuario de nuestra base de datos.</p>
    <h2>Enlaces de afiliación</h2>
    <p>Geografía Infinita utiliza ocasionalmente enlaces de afiliación de productos y servicios de marcas que hayan establecido un programa de afiliados. Estos enlaces se usan exclusivamente después de hacer usado dichos productos y servicios, o bien, haber realizado pruebas que permitan valorar que cumplen con un adecuado nivel de calidad. El prestador se compromete a no incluir enlaces afiliados arbitrarios a productos que no cumplan con las condiciones antes descritas entendiendo además que este tipo de prácticas resultarían muy contraproducentes para la reputación del propio sitio web que los promociona.</p>
    <h2>Propiedad Intelectual y uso de los contenidos</h2>
    <p>El sitio web DESMANESDELFUTBOL.COM, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos son propiedad del prestador o en su caso dispone de licencia o autorización expresa por parte de los autores.</p>
    <p>Geografía Infinita otorga al usuario una licencia Creative Commons Reconocimiento-NoComercial-CompartirIgual 3.0 cuyos términos exactos <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/es/">se pueden consultar en este enlace</a>.</p>
    <p>Cualquier uso no autorizado previamente por parte del prestador será considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor. Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos. En todo caso, el prestador cuenta con la autorización expresa y previa por parte de los mismos.</p>
    <p>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del formulario de contacto que se mantiene en el sitio web.</p>
    <h2>Ley Aplicable y Jurisdicción</h2>
    <p>Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web o de las actividades en él desarrolladas, será de aplicación la legislación española, a la que se someten expresamente las partes.</p>

  </div>
</div>
{% endif %}