<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="es-es"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="es-es"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="es-es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-es"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Language" content="es-es">

  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/icons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/icons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <link rel="shortcut icon" href="/icons/favicon.ico" />

  {% block seoHead %}{% endblock %}

  {# viewport info #}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Grunt compile files #}
  <!-- build:css bin/styles.min.css -->
    <link rel="stylesheet" href="css/styles.css">
  <!-- endbuild -->

  <!-- build:js bin/app-pre.js -->
    <script type="text/javascript" src="libs/modernizr-v2.7.1.js"></script>
  <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Lato:900|Droid+Serif:400,700italic|Merriweather:400,300,700|Old+Standard+TT:400,700,400italic' rel='stylesheet' type='text/css'>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
     
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58666195-1', 'auto');
    ga('send', 'pageview');
  </script>
  {# analitics #}

  {% if not app.config.debug %}
  {% endif %}

</head>

<body>

    {# Real Content #}
  <main id="seo-basico" role="main" style="display:none" class="hidden">
    {% block seo %}{% endblock %}
  </main>
  <script>document.getElementById('seo-basico').innerHTML = '';</script>

    {# Aside Content, 
    not crawled #}
  <aside role="main" id="main">
    {% block content %}No content{% endblock %}
  </aside>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- build:js bin/app.js -->
  <script type="text/javascript" src="js/Chart.min.js"></script>
  <script type="text/javascript" src="js/lbt-fullscreen.js"></script>
  <script type="text/javascript" src="js/lbt-console.js"></script>
  <script type="text/javascript" src="js/lbt-url.js"></script>
  <script type="text/javascript" src="js/lbt-media.js"></script>
  <!-- endbuild -->

  <script>

        {# lab js framwork settings #}
    if(!labTools) var labTools = {};

    if(labTools.url) {
      labTools.url.data.baseUrl = '{{ base_url }}';
      labTools.url.data.ga = {% if app.config.debug %}false{% else %}true{% endif %};
    }

    if(labTools && labTools.console) {
      labTools.console.data.log = {% if app.config.debug %}true{% else %}false{% endif %};
    }

        {# data imports #}
    var proyData = proyData || {};
    proyData.debug = {% if app.config.debug %}true{% else %}false{% endif %};

    {% for elm in importInfo %}
      {% if elm.exposeJS is defined and elm.exposeJS == true %}
        proyData['{{ elm.title }}'] = {{ imports[elm.title] | json_encode | raw }};
      {% endif %}
    {% endfor %}

  </script>


  <!-- build:js bin/base.js -->
  <script type="text/javascript" src="js/base.js"></script>
  <script type="text/javascript" src="js/graph2.js"></script>
  <script type="text/javascript" src="js/widget.js"></script>
  <script type="text/javascript" src="js/map.js"></script>
  <!-- endbuild -->
  <script type="text/javascript" src="js/graph1.js"></script>

</body>
</html>