{% extends twigFolder ~ '/index.html.twig' %}

{% block seoHead %}
  {% include twigFolder ~ '/seo.html.twig' %}
{% endblock %}

{% block seo %}

  <li><a href="http://desmanesdelfutbol.com/">HOME</a></li>

  {% if seoData['name'] == 'home' %}
    {% include twigFolder ~ '/home.html.twig' with {'seo': true} %}
  {% else %}
    {% for section in sectionsLoader %}
      {% for template in section['sections'] %}
        {% if template == seoData['name'] %}
          {% if template == 'home' %}
            {% include section['url'] ~ '/home.html.twig' with {'seo': true} %}
          {% else %}
            {% include section['url'] ~ '/' ~ template ~ '.html.twig' with {'seo': true} %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}

<aside>
  {% include '/twigs/home.html.twig'%}


  <div id="content-holder">
    {% include twigFolder ~ '/autoloaders.html.twig' %}
  </div>

  {% include '/twigs/footer.html.twig'%}
</aside>
{% endblock %}