<title>{{ seoData['title'] }}</title>
<meta name="description" content="{{ seoData['description'] }}">
<meta name="Keywords" content="{{ seoData['keywords'] }}">
<meta name="author" content="deudafutbol">
<meta property="og:title" content="{{ seoData['title'] }}">
<meta property="og:description" content="{{ seoData['description'] }}">
<meta property="og:url" content='http://desmanesdelfutbol.com{{ url }}'>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@deudafutbol">
<meta name="twitter:creator" content="@deudafutbol">
<meta name="twitter:title" content="{{ seoData['title'] }}">
<meta name="twitter:description" content="{{ seoData['description'] }}">
<meta property="og:image" content="http://desmanesdelfutbol.com{{ base_url }}img/seo/{{ seoData['seoImg'] }}">
<meta name="twitter:image" content="http://desmanesdelfutbol.com{{ base_url }}img/seo/{{ seoData['seoImg'] }}">