<div id="main-campaign-widget" style="display: none;">
  <div id="main-campaign-widget-close">X</div>
  <div class="cmpg-wdgt">
    {% for item in imports['deuda'] %}
      {% if item['Club'] %}
        <div class="cmpg-wdgt-club">

          <img src="./img/equipos/{{ item['foto']|replace({'.png': '.jpg'}) }}" alt="Escudo del {{ item['fullName'] }}"></span>

          {% if item['Club'] and item['foto'] and item['twitter'] != 'fcbfilial' %}
            <p>Solicita que el {{ item['fullName'] }} declare su deuda pública: </p>
            <a href="#" class="btn wk-col-r">Participa en la campaña</a>
          {% endif %}

        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="cmpg-wdgt-bott">
    <p>Mantente al tanto <a href="https://twitter.com/desmanesf" class="tw-inline" title="Conoce las últimas actualizaciones en twitter" target="_blank">Síguenose en Twitter</a></p>
  </div>
</div>